<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioPrintLayoutTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioPrintLayoutTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="printId" column="print_id" jdbcType="BIGINT"/>
            <result property="layoutNumber" column="layout_number" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,print_id,layout_number,
        create_time
    </sql>
</mapper>
