<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioPrintCerPlantTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioPrintCerPlantTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
            <result property="plasmidName" column="plasmid_name" jdbcType="VARCHAR"/>
            <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
            <result property="transformCode" column="transform_code" jdbcType="VARCHAR"/>
            <result property="printId" column="print_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,vector_task_code,plasmid_name,
        sample_code,transform_code,print_id
    </sql>
</mapper>
