<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioSampleApplyTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioSampleApplyTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="applyNo" column="apply_no" jdbcType="VARCHAR"/>
            <result property="applyNumber" column="apply_number" jdbcType="INTEGER"/>
            <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="applyDesc" column="apply_desc" jdbcType="VARCHAR"/>
            <result property="applyType" column="apply_type" jdbcType="VARCHAR"/>
            <result property="identifyExcelUrl" column="identify_excel_url" jdbcType="VARCHAR"/>
            <result property="cloneFlag" column="clone_flag" jdbcType="VARCHAR"/>
            <result property="layoutFlag" column="layout_flag" jdbcType="VARCHAR"/>
            <result property="vectorTaskCodes" column="vector_task_codes" jdbcType="VARCHAR"/>
            <result property="sampleCodeRange" column="sample_code_range" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,apply_no,apply_number,
        apply_time,apply_user_id,apply_user_name,
        apply_desc,apply_type,identify_excel_url,
        clone_flag,layout_flag,vector_task_codes,
        sample_code_range,task_status
    </sql>
    <select id="selectOneByApplyNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_apply_tb
        where
        apply_no = #{applyNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByApplyNo">
        delete
        from bio_sample_apply_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
    </delete>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BioSampleApplyTb">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_apply_tb
        <where>
            <if test="applyNo != null and applyNo!=''">and apply_no=#{applyNo,jdbcType=VARCHAR}</if>
            <if test="applyNumber != null">and apply_number=#{applyNumber,jdbcType=NUMERIC}</if>
            <if test="applyTime != null">and apply_time=#{applyTime,jdbcType=TIMESTAMP}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="applyDesc != null">and apply_desc=#{applyDesc,jdbcType=VARCHAR}</if>
            <if test="applyType != null and applyType!=''">and apply_type=#{applyType,jdbcType=VARCHAR}</if>
            <if test="identifyExcelUrl != null">and identify_excel_url=#{identifyExcelUrl,jdbcType=VARCHAR}</if>
            <if test="cloneFlag != null and cloneFlag!=''">and clone_flag=#{cloneFlag,jdbcType=VARCHAR}</if>
            <if test="layoutFlag != null and layoutFlag!=''">and layout_flag=#{layoutFlag,jdbcType=VARCHAR}</if>
            <if test="vectorTaskCodes != null and vectorTaskCodes!=''">and vector_task_codes like CONCAT('%',#{vectorTaskCodes,jdbcType=VARCHAR},'%')</if>
            <if test="sampleCodeRange != null">and sample_code_range=#{sampleCodeRange,jdbcType=VARCHAR}</if>
            <if test="taskStatus != null and taskStatus!=''">and task_status=#{taskStatus,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByVectorTaskCodeAndSourceCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_apply_tb
        where apply_no in(select distinct  apply_no from bio_sample_test_tb where vector_task_code=#{vectorTaskCode,jdbcType=VARCHAR} and source_code=#{sourceCode,jdbcType=VARCHAR})
        order by id desc
    </select>
</mapper>
