<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioSampleTestOneResultTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioSampleTestOneResultTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
        <result property="testIdentifyPrimer" column="test_identify_primer" jdbcType="VARCHAR"/>
        <result property="testMethod" column="test_method" jdbcType="VARCHAR"/>
        <result property="testEditType" column="test_edit_type" jdbcType="VARCHAR"/>
        <result property="testNoTransIdentityPrimer" column="test_no_trans_identity_primer" jdbcType="VARCHAR"/>
        <result property="testIsGeneModifyPositive" column="test_is_gene_modify_positive" jdbcType="VARCHAR"/>
        <result property="testIfFixedPoint" column="test_if_fixed_point" jdbcType="VARCHAR"/>
        <result property="testIfCopyInsert" column="test_if_copy_insert" jdbcType="VARCHAR"/>
        <result property="testFixedPointType" column="test_fixed_point_type" jdbcType="VARCHAR"/>
        <result property="testDonorResidueInfo" column="test_donor_residue_info" jdbcType="VARCHAR"/>
        <result property="testInsertionSite" column="test_insertion_site" jdbcType="VARCHAR"/>
        <result property="testElisaResult" column="test_elisa_result" jdbcType="VARCHAR"/>
        <result property="testQbzrSeq" column="test_qbzr_seq" jdbcType="VARCHAR"/>
        <result property="testEditResidueInfo" column="test_edit_residue_info" jdbcType="VARCHAR"/>
        <result property="testUserId" column="test_user_id" jdbcType="INTEGER"/>
        <result property="testUserName" column="test_user_name" jdbcType="VARCHAR"/>
        <result property="testTime" column="test_time" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="testChannel" column="test_channel" jdbcType="VARCHAR"/>
        <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
        <result property="uploadNum" column="upload_num" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,sample_code,test_identify_primer,
        test_method,test_edit_type,test_no_trans_identity_primer,
        test_is_gene_modify_positive,test_if_fixed_point,test_if_copy_insert,
        test_fixed_point_type,test_donor_residue_info,test_insertion_site,
        test_elisa_result,test_qbzr_seq,test_edit_residue_info,
        test_user_id,test_user_name,test_time,
        create_time,test_channel,task_num,
        upload_num,test_org_result,remark
    </sql>
    <insert id="insertBatch">
        insert into bio_sample_test_one_result_tb(id,sample_code,test_identify_primer,
        test_method,test_edit_type,test_no_trans_identity_primer,
        test_is_gene_modify_positive,test_if_fixed_point,test_if_copy_insert,
        test_fixed_point_type,test_donor_residue_info,test_insertion_site,
        test_elisa_result,test_qbzr_seq,test_edit_residue_info,
        test_user_id,test_user_name,test_time,
        create_time,test_channel,task_num,
        upload_num,remark)
        values
        <foreach collection="bioSampleSampleOneResultTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.sampleCode,jdbcType=VARCHAR},#{item.testIdentifyPrimer,jdbcType=VARCHAR},
            #{item.testMethod,jdbcType=VARCHAR},#{item.testEditType,jdbcType=VARCHAR},#{item.testNoTransIdentityPrimer,jdbcType=VARCHAR},
            #{item.testIsGeneModifyPositive,jdbcType=VARCHAR},#{item.testIfFixedPoint,jdbcType=VARCHAR},#{item.testIfCopyInsert,jdbcType=VARCHAR},
            #{item.testFixedPointType,jdbcType=VARCHAR},#{item.testDonorResidueInfo,jdbcType=VARCHAR},#{item.testInsertionSite,jdbcType=VARCHAR},
            #{item.testElisaResult,jdbcType=VARCHAR},#{item.testQbzrSeq,jdbcType=VARCHAR},#{item.testEditResidueInfo,jdbcType=VARCHAR},
            #{item.testUserId,jdbcType=NUMERIC},#{item.testUserName,jdbcType=VARCHAR},#{item.testTime,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},#{item.testChannel,jdbcType=VARCHAR},#{item.taskNum,jdbcType=VARCHAR},
            #{item.uploadNum,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectSelective" resultMap="BaseResultMap"
            parameterType="com.bio.drqi.domain.BioSampleTestOneResultTb">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_one_result_tb
        <where>
            <if test="sampleCode != null and sampleCode!=''">and sample_code=#{sampleCode,jdbcType=VARCHAR}</if>
            <if test="testIdentifyPrimer != null">and test_identify_primer=#{testIdentifyPrimer,jdbcType=VARCHAR}</if>
            <if test="testMethod != null">and test_method=#{testMethod,jdbcType=VARCHAR}</if>
            <if test="testEditType != null">and test_edit_type=#{testEditType,jdbcType=VARCHAR}</if>
            <if test="testNoTransIdentityPrimer != null">
                and    test_no_trans_identity_primer=#{testNoTransIdentityPrimer,jdbcType=VARCHAR}
            </if>
            <if test="testIsGeneModifyPositive != null">
                and   test_is_gene_modify_positive=#{testIsGeneModifyPositive,jdbcType=VARCHAR}
            </if>
            <if test="testIfFixedPoint != null">and test_if_fixed_point=#{testIfFixedPoint,jdbcType=VARCHAR}</if>
            <if test="testIfCopyInsert != null">and test_if_copy_insert=#{testIfCopyInsert,jdbcType=VARCHAR}</if>
            <if test="testFixedPointType != null">and test_fixed_point_type=#{testFixedPointType,jdbcType=VARCHAR}</if>
            <if test="testDonorResidueInfo != null">and test_donor_residue_info=#{testDonorResidueInfo,jdbcType=VARCHAR}
            </if>
            <if test="testInsertionSite != null">and test_insertion_site=#{testInsertionSite,jdbcType=VARCHAR}</if>
            <if test="testElisaResult != null">and test_elisa_result=#{testElisaResult,jdbcType=VARCHAR}</if>
            <if test="testQbzrSeq != null">and test_qbzr_seq=#{testQbzrSeq,jdbcType=VARCHAR}</if>
            <if test="testEditResidueInfo != null">and test_edit_residue_info=#{testEditResidueInfo,jdbcType=VARCHAR}</if>
            <if test="testUserId != null">and test_user_id=#{testUserId,jdbcType=NUMERIC}</if>
            <if test="testUserName != null">and test_user_name=#{testUserName,jdbcType=VARCHAR}</if>
            <if test="testTime != null">and test_time=#{testTime,jdbcType=VARCHAR}</if>
            <if test="testChannel != null and testChannel!=''">and test_channel=#{testChannel,jdbcType=VARCHAR}</if>
            <if test="taskNum != null and taskNum!=''">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="uploadNum != null and uploadNum!=''">and upload_num=#{uploadNum,jdbcType=VARCHAR}</if>
            <if test='noMatchFlag == "Y"'>and remark is not null</if>

        </where>
        order by id desc
    </select>
    <delete id="deleteByUploadNum">
        delete
        from bio_sample_test_one_result_tb
        where upload_num = #{uploadNum,jdbcType=VARCHAR}
    </delete>
    <select id="selectOneBySampleCodeOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_one_result_tb
        where
        sample_code = #{sampleCode,jdbcType=VARCHAR}
        order by id desc
    </select>
</mapper>
