<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioSampleTestTwoResultDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioSampleTestTwoResultDetailTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="applyNo" column="apply_no" jdbcType="VARCHAR"/>
            <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
            <result property="sampleId" column="sample_id" jdbcType="VARCHAR"/>
            <result property="uniqueDbCode" column="unique_db_code" jdbcType="VARCHAR"/>
            <result property="runId" column="run_id" jdbcType="VARCHAR"/>
            <result property="hapId" column="hap_id" jdbcType="VARCHAR"/>
            <result property="varType" column="var_type" jdbcType="VARCHAR"/>
            <result property="mutate" column="mutate" jdbcType="VARCHAR"/>
            <result property="ratio" column="ratio" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="confirmStatus" column="confirm_status" jdbcType="VARCHAR"/>
            <result property="resultKey" column="result_key" jdbcType="VARCHAR"/>
            <result property="matchFlag" column="match_flag" jdbcType="VARCHAR"/>
             <result property="twoResultId" column="two_result_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,apply_no,sample_code,sample_id,unique_db_code,
        run_id,hap_id,var_type,
        mutate,ratio,create_time,
        confirm_status,result_key,match_flag,two_result_id
    </sql>

    <select id="selectAllByApplyNoAndSampleCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_two_result_detail_tb
        where
        apply_no = #{applyNo,jdbcType=VARCHAR}
        AND sample_code = #{sampleCode,jdbcType=VARCHAR}
    </select>

    <select id="selectAllBySampleCodeIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_two_result_detail_tb
        where
        sample_code in
        <foreach collection="sampleCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="selectAllByUniqueDbCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_two_result_detail_tb
        where
        unique_db_code = #{uniqueDbCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByIdIn">
        delete from bio_sample_test_two_result_detail_tb
        where
        id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteByApplyNoAndSampleCode">
        delete
        from bio_sample_test_two_result_detail_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
          AND sample_code = #{sampleCode,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByTwoResultId">
        delete
        from bio_sample_test_two_result_detail_tb
        where two_result_id = #{twoResultId,jdbcType=NUMERIC}
    </delete>
    <select id="selectAllByTwoResultId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_two_result_detail_tb
        where
        two_result_id = #{twoResultId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllByTwoResultIdAndConfirmStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_two_result_detail_tb
        where
        two_result_id = #{twoResultId,jdbcType=NUMERIC}
        AND confirm_status = #{confirmStatus,jdbcType=VARCHAR}
    </select>
    <insert id="insertBatch">
        insert into bio_sample_test_two_result_detail_tb(id,apply_no,sample_code,
        sample_id,unique_db_code,run_id,
        hap_id,var_type,mutate,
        ratio,create_time,confirm_status,
        result_key,match_flag,two_result_id)
        values
        <foreach collection="bioSampleTestTwoResultDetailTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.applyNo,jdbcType=VARCHAR},#{item.sampleCode,jdbcType=VARCHAR},
            #{item.sampleId,jdbcType=VARCHAR},#{item.uniqueDbCode,jdbcType=VARCHAR},#{item.runId,jdbcType=VARCHAR},
            #{item.hapId,jdbcType=VARCHAR},#{item.varType,jdbcType=VARCHAR},#{item.mutate,jdbcType=VARCHAR},
            #{item.ratio,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.confirmStatus,jdbcType=VARCHAR},
            #{item.resultKey,jdbcType=VARCHAR},#{item.matchFlag,jdbcType=VARCHAR},#{item.twoResultId,jdbcType=NUMERIC})
        </foreach>
    </insert>

</mapper>
