<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioSampleTestTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioSampleTestTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
        <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
        <result property="generation" column="generation" jdbcType="VARCHAR"/>
        <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
        <result property="breedCode" column="breed_code" jdbcType="VARCHAR"/>
        <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
        <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
        <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
        <result property="testIdentifyPrimer" column="test_identify_primer" jdbcType="VARCHAR"/>
        <result property="testMethod" column="test_method" jdbcType="VARCHAR"/>
        <result property="testEditType" column="test_edit_type" jdbcType="VARCHAR"/>
        <result property="testNoTransIdentityPrimer" column="test_no_trans_identity_primer" jdbcType="VARCHAR"/>
        <result property="testIsGeneModifyPositive" column="test_is_gene_modify_positive" jdbcType="VARCHAR"/>
        <result property="testIfFixedPoint" column="test_if_fixed_point" jdbcType="VARCHAR"/>
        <result property="testIfCopyInsert" column="test_if_copy_insert" jdbcType="VARCHAR"/>
        <result property="testFixedPointType" column="test_fixed_point_type" jdbcType="VARCHAR"/>
        <result property="testDonorResidueInfo" column="test_donor_residue_info" jdbcType="VARCHAR"/>
        <result property="testInsertionSite" column="test_insertion_site" jdbcType="VARCHAR"/>
        <result property="testElisaResult" column="test_elisa_result" jdbcType="VARCHAR"/>
        <result property="testQbzrSeq" column="test_qbzr_seq" jdbcType="VARCHAR"/>
        <result property="testEditResidueInfo" column="test_edit_residue_info" jdbcType="VARCHAR"/>
        <result property="testUserId" column="test_user_id" jdbcType="INTEGER"/>
        <result property="testUserName" column="test_user_name" jdbcType="VARCHAR"/>
        <result property="testTime" column="test_time" jdbcType="VARCHAR"/>
        <result property="checkUserName" column="check_user_name" jdbcType="VARCHAR"/>
        <result property="checkUserId" column="check_user_id" jdbcType="INTEGER"/>
        <result property="checkResult" column="check_result" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="applyNo" column="apply_no" jdbcType="VARCHAR"/>
        <result property="identifyPrimer" column="identify_primer" jdbcType="VARCHAR"/>
        <result property="uniqueCode" column="unique_code" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="cloneSampleCode" column="clone_sample_code" jdbcType="VARCHAR"/>
        <result property="sourceCode" column="source_code" jdbcType="VARCHAR"/>
        <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
        <result property="regionNum" column="region_num" jdbcType="VARCHAR"/>
        <result property="seedNum" column="seed_num" jdbcType="VARCHAR"/>
        <result property="transformCode" column="transform_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,vector_task_code,sample_code,generation,species_code,breed_code,
        apply_time,apply_user_id,apply_user_name,
        test_identify_primer,test_method,test_edit_type,
        test_no_trans_identity_primer,test_is_gene_modify_positive,test_if_fixed_point,
        test_if_copy_insert,test_fixed_point_type,test_donor_residue_info,
        test_insertion_site,test_elisa_result,test_qbzr_seq,
        test_edit_residue_info,test_user_id,test_user_name,
        test_time,check_user_name,check_user_id,
        check_result,create_time,update_time,apply_no,identify_primer,
        unique_code,remark,clone_sample_code,
        source_code,test_org_result,experiment_num,region_num,seed_num,transform_code
    </sql>

    <update id="updateCheckResultByApplyNoAndCheckResultIsNull">
        update bio_sample_test_tb
        set check_result = #{checkResult,jdbcType=VARCHAR}
        where apply_no = #{applyNo,jdbcType=VARCHAR}
          AND check_result is null
    </update>
    <select id="selectAllByApplyNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        apply_no = #{applyNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByApplyNo">
        delete
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
    </delete>
    <select id="selectOneBySampleCodeOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        sample_code = #{sampleCode,jdbcType=VARCHAR}
        order by id desc limit 1
    </select>
    <insert id="insertBatch">
        insert into bio_sample_test_tb(id,vector_task_code,sample_code,
        apply_time,apply_user_id,apply_user_name,
        test_identify_primer,test_method,test_edit_type,
        test_no_trans_identity_primer,test_is_gene_modify_positive,test_if_fixed_point,
        test_if_copy_insert,test_fixed_point_type,test_donor_residue_info,
        test_insertion_site,test_elisa_result,test_qbzr_seq,
        test_edit_residue_info,test_user_id,test_user_name,
        test_time,check_user_name,check_user_id,
        check_result,create_time,update_time,
        apply_no,identify_primer,unique_code,
        remark,clone_sample_code,source_code,
        test_org_result,generation,species_code,
        breed_code,experiment_num,region_num,
        seed_num,transform_code)
        values
        <foreach collection="bioSampleTestTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.vectorTaskCode,jdbcType=VARCHAR},#{item.sampleCode,jdbcType=VARCHAR},
            #{item.applyTime,jdbcType=TIMESTAMP},#{item.applyUserId,jdbcType=NUMERIC},#{item.applyUserName,jdbcType=VARCHAR},
            #{item.testIdentifyPrimer,jdbcType=VARCHAR},#{item.testMethod,jdbcType=VARCHAR},#{item.testEditType,jdbcType=VARCHAR},
            #{item.testNoTransIdentityPrimer,jdbcType=VARCHAR},#{item.testIsGeneModifyPositive,jdbcType=VARCHAR},#{item.testIfFixedPoint,jdbcType=VARCHAR},
            #{item.testIfCopyInsert,jdbcType=VARCHAR},#{item.testFixedPointType,jdbcType=VARCHAR},#{item.testDonorResidueInfo,jdbcType=VARCHAR},
            #{item.testInsertionSite,jdbcType=VARCHAR},#{item.testElisaResult,jdbcType=VARCHAR},#{item.testQbzrSeq,jdbcType=VARCHAR},
            #{item.testEditResidueInfo,jdbcType=VARCHAR},#{item.testUserId,jdbcType=NUMERIC},#{item.testUserName,jdbcType=VARCHAR},
            #{item.testTime,jdbcType=VARCHAR},#{item.checkUserName,jdbcType=VARCHAR},#{item.checkUserId,jdbcType=NUMERIC},
            #{item.checkResult,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateTime,jdbcType=TIMESTAMP},
            #{item.applyNo,jdbcType=VARCHAR},#{item.identifyPrimer,jdbcType=VARCHAR},#{item.uniqueCode,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},#{item.cloneSampleCode,jdbcType=VARCHAR},#{item.sourceCode,jdbcType=VARCHAR},
            #{item.testOrgResult,jdbcType=VARCHAR},#{item.generation,jdbcType=VARCHAR},#{item.speciesCode,jdbcType=VARCHAR},
            #{item.breedCode,jdbcType=VARCHAR},#{item.experimentNum,jdbcType=VARCHAR},#{item.regionNum,jdbcType=VARCHAR},
            #{item.seedNum,jdbcType=VARCHAR},  #{item.transformCode,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="selectAllByApplyNoAndSampleCodeIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        apply_no = #{applyNo,jdbcType=VARCHAR}
        AND sample_code in
        <foreach collection="sampleCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <update id="updateBatchById" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update bio_sample_test_tb
            <set>
                <if test="item.vectorTaskCode != null">vector_task_code=#{item.vectorTaskCode,jdbcType=VARCHAR},</if>
                <if test="item.sampleCode != null">sample_code=#{item.sampleCode,jdbcType=VARCHAR},</if>
                <if test="item.applyTime != null">apply_time=#{item.applyTime,jdbcType=TIMESTAMP},</if>
                <if test="item.applyUserId != null">apply_user_id=#{item.applyUserId,jdbcType=NUMERIC},</if>
                <if test="item.applyUserName != null">apply_user_name=#{item.applyUserName,jdbcType=VARCHAR},</if>
                <if test="item.testIdentifyPrimer != null">
                    test_identify_primer=#{item.testIdentifyPrimer,jdbcType=VARCHAR},
                </if>
                <if test="item.testMethod != null">test_method=#{item.testMethod,jdbcType=VARCHAR},</if>
                <if test="item.testEditType != null">test_edit_type=#{item.testEditType,jdbcType=VARCHAR},</if>
                <if test="item.testNoTransIdentityPrimer != null">
                    test_no_trans_identity_primer=#{item.testNoTransIdentityPrimer,jdbcType=VARCHAR},
                </if>
                <if test="item.testIsGeneModifyPositive != null">
                    test_is_gene_modify_positive=#{item.testIsGeneModifyPositive,jdbcType=VARCHAR},
                </if>
                <if test="item.testIfFixedPoint != null">
                    test_if_fixed_point=#{item.testIfFixedPoint,jdbcType=VARCHAR},
                </if>
                <if test="item.testIfCopyInsert != null">
                    test_if_copy_insert=#{item.testIfCopyInsert,jdbcType=VARCHAR},
                </if>
                <if test="item.testFixedPointType != null">
                    test_fixed_point_type=#{item.testFixedPointType,jdbcType=VARCHAR},
                </if>
                <if test="item.testDonorResidueInfo != null">
                    test_donor_residue_info=#{item.testDonorResidueInfo,jdbcType=VARCHAR},
                </if>
                <if test="item.testInsertionSite != null">
                    test_insertion_site=#{item.testInsertionSite,jdbcType=VARCHAR},
                </if>
                <if test="item.testElisaResult != null">test_elisa_result=#{item.testElisaResult,jdbcType=VARCHAR},</if>
                <if test="item.testQbzrSeq != null">test_qbzr_seq=#{item.testQbzrSeq,jdbcType=VARCHAR},</if>
                <if test="item.testEditResidueInfo != null">
                    test_edit_residue_info=#{item.testEditResidueInfo,jdbcType=VARCHAR},
                </if>
                <if test="item.testUserId != null">test_user_id=#{item.testUserId,jdbcType=NUMERIC},</if>
                <if test="item.testUserName != null">test_user_name=#{item.testUserName,jdbcType=VARCHAR},</if>
                <if test="item.testTime != null">test_time=#{item.testTime,jdbcType=VARCHAR},</if>
                <if test="item.checkUserName != null">check_user_name=#{item.checkUserName,jdbcType=VARCHAR},</if>
                <if test="item.checkUserId != null">check_user_id=#{item.checkUserId,jdbcType=NUMERIC},</if>
                <if test="item.checkResult != null">check_result=#{item.checkResult,jdbcType=VARCHAR},</if>
                <if test="item.createTime != null">create_time=#{item.createTime,jdbcType=TIMESTAMP},</if>
                <if test="item.updateTime != null">update_time=#{item.updateTime,jdbcType=TIMESTAMP},</if>
                <if test="item.applyNo != null">apply_no=#{item.applyNo,jdbcType=VARCHAR},</if>
                <if test="item.identifyPrimer != null">identify_primer=#{item.identifyPrimer,jdbcType=VARCHAR},</if>
                <if test="item.uniqueCode != null">unique_code=#{item.uniqueCode,jdbcType=VARCHAR},</if>
                <if test="item.remark != null">remark=#{item.remark,jdbcType=VARCHAR},</if>
                <if test="item.cloneSampleCode != null">clone_sample_code=#{item.cloneSampleCode,jdbcType=VARCHAR},</if>
                <if test="item.sourceCode != null">source_code=#{item.sourceCode,jdbcType=VARCHAR},</if>
                <if test="item.testOrgResult != null">test_org_result=#{item.testOrgResult,jdbcType=VARCHAR},</if>
                <if test="item.generation != null">generation=#{item.generation,jdbcType=VARCHAR},</if>
                <if test="item.speciesCode != null">species_code=#{item.speciesCode,jdbcType=VARCHAR},</if>
                <if test="item.breedCode != null">breed_code=#{item.breedCode,jdbcType=VARCHAR},</if>
                <if test="item.experimentNum != null">experiment_num=#{item.experimentNum,jdbcType=VARCHAR},</if>
                <if test="item.regionNum != null">region_num=#{item.regionNum,jdbcType=VARCHAR},</if>
                <if test="item.seedNum != null">seed_num=#{item.seedNum,jdbcType=VARCHAR},</if>
            </set>
            where id = ${item.id}
        </foreach>
    </update>
    <select id="selectOneByApplyNoAndSampleCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        apply_no = #{applyNo,jdbcType=VARCHAR}
        AND sample_code = #{sampleCode,jdbcType=VARCHAR}
    </select>
    <update id="updateIdentifyPrimerById">
        update bio_sample_test_tb
        set identify_primer = #{identifyPrimer,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <select id="selectCountByApplyNo" resultType="java.lang.Integer">
        select count(*)
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
    </select>
    <select id="selectCountByApplyNoAndCheckResultIsNotNull" resultType="java.lang.Integer">
        select count(*)
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
          and check_result is not null
    </select>
    <select id="selectCountNum" resultType="java.lang.Integer">
        select count(*)
        from bio_sample_test_tb
    </select>

    <select id="selectCountNumByApplyNo" resultType="com.bio.drqi.domain.BioSampleTestTb">
        select check_result as checkResult,
               count(*)     as countNum
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
        group by check_result
    </select>

    <select id="selectTestResultCount" resultType="java.lang.Integer">
        select count(*)
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
          and test_user_id is not null
    </select>

    <select id="selectNoTestResultCount" resultType="java.lang.Integer">
        select count(*)
        from bio_sample_test_tb
        where apply_no = #{applyNo,jdbcType=VARCHAR}
          and test_user_id is null
    </select>
    <select id="selectTowTestResultCount" resultType="java.lang.Integer">
        select count(*)
        from (select apply_no, sample_code from bio_sample_test_tb where apply_no = #{applyNo,jdbcType=VARCHAR}) a
                 INNER JOIN
             (select DISTINCT apply_no, sample_code
              from bio_sample_test_two_result_detail_tb
              where apply_no = #{applyNo,jdbcType=VARCHAR}) b
             on a.apply_no = b.apply_no and a.sample_code = b.sample_code
    </select>
    <select id="selectAllBySampleCodeLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        sample_code like CONCAT('%',#{sampleCode,jdbcType=VARCHAR},'%')
    </select>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BioSampleTestTb">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        <where>
            <if test="vectorTaskCode != null and vectorTaskCode!=''">and
                vector_task_code=#{vectorTaskCode,jdbcType=VARCHAR}
            </if>
            <if test="sampleCode != null and sampleCode!=''">and sample_code=#{sampleCode,jdbcType=VARCHAR}</if>
            <if test="applyTime != null ">and apply_time=#{applyTime,jdbcType=TIMESTAMP}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC},</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR},</if>
            <if test="testIdentifyPrimer != null">and test_identify_primer=#{testIdentifyPrimer,jdbcType=VARCHAR}</if>
            <if test="testMethod != null">and test_method=#{testMethod,jdbcType=VARCHAR}</if>
            <if test="testEditType != null">and test_edit_type=#{testEditType,jdbcType=VARCHAR}</if>
            <if test="testNoTransIdentityPrimer != null">
                and test_no_trans_identity_primer=#{testNoTransIdentityPrimer,jdbcType=VARCHAR}
            </if>
            <if test="testIsGeneModifyPositive != null">
                and test_is_gene_modify_positive=#{testIsGeneModifyPositive,jdbcType=VARCHAR}
            </if>
            <if test="testIfFixedPoint != null">and test_if_fixed_point=#{testIfFixedPoint,jdbcType=VARCHAR}</if>
            <if test="testIfCopyInsert != null">and test_if_copy_insert=#{testIfCopyInsert,jdbcType=VARCHAR}</if>
            <if test="testFixedPointType != null">and test_fixed_point_type=#{testFixedPointType,jdbcType=VARCHAR}</if>
            <if test="testDonorResidueInfo != null">and test_donor_residue_info=#{testDonorResidueInfo,jdbcType=VARCHAR}
            </if>
            <if test="testInsertionSite != null">and test_insertion_site=#{testInsertionSite,jdbcType=VARCHAR}</if>
            <if test="testElisaResult != null">and test_elisa_result=#{testElisaResult,jdbcType=VARCHAR}</if>
            <if test="testQbzrSeq != null">and test_qbzr_seq=#{testQbzrSeq,jdbcType=VARCHAR}</if>
            <if test="testEditResidueInfo != null">and test_edit_residue_info=#{testEditResidueInfo,jdbcType=VARCHAR}
            </if>
            <if test="testUserId != null">and test_user_id=#{testUserId,jdbcType=NUMERIC}</if>
            <if test="testUserName != null">and test_user_name=#{testUserName,jdbcType=VARCHAR}</if>
            <if test="testTime != null">and test_time=#{testTime,jdbcType=VARCHAR}</if>
            <if test="checkUserName != null">and check_user_name=#{checkUserName,jdbcType=VARCHAR}</if>
            <if test="checkUserId != null">and check_user_id=#{checkUserId,jdbcType=NUMERIC}</if>
            <if test="checkResult != null">and check_result=#{checkResult,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime != null">and update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
            <if test="applyNo != null and applyNo!=''">and apply_no=#{applyNo,jdbcType=VARCHAR}</if>
            <if test="identifyPrimer != null">and identify_primer=#{identifyPrimer,jdbcType=VARCHAR},</if>
            <if test="uniqueCode != null">and unique_code=#{uniqueCode,jdbcType=VARCHAR}</if>
            <if test="remark != null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="cloneSampleCode != null and cloneSampleCode!=''">and
                clone_sample_code=#{cloneSampleCode,jdbcType=VARCHAR}
            </if>
            <if test="sourceCode != null and sourceCode!=''">and source_code=#{sourceCode,jdbcType=VARCHAR}</if>
            <if test="testOrgResult != null">and test_org_result=#{testOrgResult,jdbcType=VARCHAR}</if>
            <if test="generation != null and generation!=''">and generation=#{generation,jdbcType=VARCHAR}</if>
            <if test="speciesCode != null and speciesCode!=''">and species_code=#{speciesCode,jdbcType=VARCHAR}</if>
            <if test="breedCode != null and breedCode!=''">and breed_code=#{breedCode,jdbcType=VARCHAR}</if>
            <if test="experimentNum != null and experimentNum!=''">and
                experiment_num=#{experimentNum,jdbcType=VARCHAR}
            </if>
            <if test="regionNum != null and regionNum!=''">and region_num=#{regionNum,jdbcType=VARCHAR}</if>
            <if test="seedNum != null and seedNum!=''">and seed_num=#{seedNum,jdbcType=VARCHAR}</if>
            <if test='cloneSampleFlag =="Y"'>and clone_sample_code is not null</if>
            <if test='cloneSampleFlag =="N"'>and clone_sample_code is null</if>
            <if test='testFlag =="Y"'>and test_user_id is not null</if>
            <if test='testFlag =="N"'>and test_user_id is null</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllBySampleCodeIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_sample_test_tb
        where
        sample_code in
        <foreach collection="sampleCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

</mapper>
