<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BioTaskConfMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BioTaskConf">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="taskTypeName" column="task_type_name" jdbcType="VARCHAR"/>
            <result property="taskTypeCode" column="task_type_code" jdbcType="VARCHAR"/>
            <result property="processId" column="process_id" jdbcType="BIGINT"/>
            <result property="taskCategory" column="task_category" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
           <result property="beginLetter" column="begin_letter" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_type_name,task_type_code,
        process_id,task_category,create_time,begin_letter
    </sql>
    <select id="selectOneByTaskTypeCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_task_conf
        where
        task_type_code = #{taskTypeCode,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByProcessId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_task_conf
        where
        process_id = #{processId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_task_conf
        order by id desc
    </select>
    <select id="selectAllByTaskCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bio_task_conf
        <where>
            <if test="taskCategory!=null and taskCategory!=''">
               and task_category = #{taskCategory,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
