<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsBrandTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsBrandTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand_code,
        brand_name,create_time,create_user_id,
        create_user_name,delete_flag
    </sql>
    <select id="selectAllBySupplierCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_brand_tb
        where
        supplier_code = #{supplierCode,jdbcType=VARCHAR}
    </select>
    <update id="updateDeleteFlagBySupplierCode">
        update bms_brand_tb
        set delete_flag = #{deleteFlag,jdbcType=VARCHAR}
        where supplier_code = #{supplierCode,jdbcType=VARCHAR}
    </update>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BmsBrandTb">
        select
        <include refid="Base_Column_List"/>
        from bms_brand_tb
        <where>
            <if test="brandCode != null">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="brandName != null">and brand_name LIKE  CONCAT('%',#{brandName,jdbcType=VARCHAR},'%')</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="deleteFlag != null">and delete_flag=#{deleteFlag,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectOneByBrandCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_brand_tb
        where
        brand_code = #{brandCode,jdbcType=VARCHAR}
    </select>
</mapper>
