<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsOrderTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsOrderTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="applyUserDepartment" column="apply_user_department" jdbcType="VARCHAR"/>
            <result property="applyUserDepartment" column="apply_user_department" jdbcType="VARCHAR"/>
            <result property="applyTime" column="apply_time" jdbcType="VARCHAR"/>
            <result property="applyUnitCode" column="apply_unit_code" jdbcType="VARCHAR"/>
            <result property="applyUnitName" column="apply_unit_name" jdbcType="VARCHAR"/>
            <result property="contractUrls" column="contract_urls" jdbcType="VARCHAR"/>
            <result property="purchaseDate" column="purchase_date" jdbcType="VARCHAR"/>
            <result property="purchaseTypeCode" column="purchase_type_code" jdbcType="VARCHAR"/>
            <result property="purchaseTypeName" column="purchase_type_name" jdbcType="VARCHAR"/>
            <result property="purchaseReasonRemark" column="purchase_reason_remark" jdbcType="VARCHAR"/>
            <result property="demandRequireTime" column="demand_require_time" jdbcType="VARCHAR"/>
            <result property="demandUsageTime" column="demand_usage_time" jdbcType="VARCHAR"/>
            <result property="invoiceUrls" column="invoice_urls" jdbcType="VARCHAR"/>
            <result property="attachmentUrls" column="attachment_urls" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="reportAccountTime" column="report_account_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_num,apply_user_id,apply_time,
        apply_user_name,apply_user_department,purchase_department,
        apply_unit_code,apply_unit_name,contract_urls,
        purchase_date,purchase_type_code,purchase_type_name,
        purchase_reason_remark,demand_require_time,demand_usage_time,
        invoice_urls,attachment_urls,create_time,
        task_num,report_account_time
    </sql>
    <select id="selectOneByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_tb
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_tb
        order by id desc
    </select>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BmsOrderTb">
        update bms_order_tb
        <set>
            <if test="orderNum != null and orderNum!=''">order_num=#{orderNum,jdbcType=VARCHAR}</if>
            <if test="applyUserId != null">apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="applyUserDepartment != null and applyUserDepartment!=''">apply_user_department=#{applyUserDepartment,jdbcType=VARCHAR}</if>
            <if test="applyTime != null and applyTime!=''">apply_time=#{applyTime,jdbcType=VARCHAR}</if>
            <if test="purchaseDepartment != null and purchaseDepartment!=''">purchase_department=#{purchaseDepartment,jdbcType=VARCHAR}</if>
            <if test="applyUnitCode != null and applyUnitCode!=''">apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}</if>
            <if test="applyUnitName != null and applyUnitName!=''">apply_unit_name=#{applyUnitName,jdbcType=VARCHAR}</if>
            <if test="contractUrls != null">contract_urls=#{contractUrls,jdbcType=VARCHAR}</if>
            <if test="purchaseDate != null">purchase_date=#{purchaseDate,jdbcType=VARCHAR}</if>
            <if test="purchaseTypeCode != null">purchase_type_code=#{purchaseTypeCode,jdbcType=VARCHAR}</if>
            <if test="purchaseTypeName != null">purchase_type_name=#{purchaseTypeName,jdbcType=VARCHAR}</if>
            <if test="purchaseReasonRemark != null">purchase_reason_remark=#{purchaseReasonRemark,jdbcType=VARCHAR}
            </if>
            <if test="demandRequireTime != null">demand_require_time=#{demandRequireTime,jdbcType=VARCHAR}</if>
            <if test="demandUsageTime != null">demand_usage_time=#{demandUsageTime,jdbcType=VARCHAR}</if>
            <if test="invoiceUrls != null">invoice_urls=#{invoiceUrls,jdbcType=VARCHAR}</if>
            <if test="attachmentUrls != null">attachment_urls=#{attachmentUrls,jdbcType=VARCHAR}</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="taskNum != null">task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="reportAccountTime != null">report_account_time=#{reportAccountTime,jdbcType=VARCHAR}</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
