<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsOrderDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsOrderDetailTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
            <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
            <result property="contactUserTelephone" column="contact_user_telephone" jdbcType="VARCHAR"/>
            <result property="contactUserName" column="contact_user_name" jdbcType="VARCHAR"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
            <result property="purchasePrice" column="purchase_price" jdbcType="DECIMAL"/>
            <result property="purchaseNumber" column="purchase_number" jdbcType="INTEGER"/>
            <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
            <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
            <result property="productCategoryName" column="product_category_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="productTypeCode" column="product_type_code" jdbcType="VARCHAR"/>
            <result property="productTypeName" column="product_type_name" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,order_num,order_detail_num,
        project_code,project_name,supplier_name,
        supplier_code,contact_user_telephone,contact_user_name,
        brand_code,brand_name,product_name,
        product_specs,product_out_code,purchase_price,
        purchase_number,pay_amount,product_category_code,
        product_category_name,create_time,apply_user_id,
        apply_user_name,task_num,product_type_code,product_type_name
    </sql>
    <select id="selectAllByOrderNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        order_num = #{orderNum,jdbcType=VARCHAR}
    </select>
</mapper>
