<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsOrderDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsOrderDetailTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
            <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
            <result property="contactUserTelephone" column="contact_user_telephone" jdbcType="VARCHAR"/>
            <result property="contactUserName" column="contact_user_name" jdbcType="VARCHAR"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
            <result property="purchasePrice" column="purchase_price" jdbcType="DECIMAL"/>
            <result property="purchaseNumber" column="purchase_number" jdbcType="INTEGER"/>
            <result property="receiveNumber" column="receive_number" jdbcType="INTEGER"/>
            <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
            <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
            <result property="productCategoryName" column="product_category_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="productTypeCode" column="product_type_code" jdbcType="VARCHAR"/>
            <result property="productTypeName" column="product_type_name" jdbcType="VARCHAR"/>
            <result property="pictureUrls" column="picture_urls" jdbcType="VARCHAR"/>
            <result property="purchaseDate" column="purchase_date" jdbcType="VARCHAR"/>
            <result property="applyUnitCode" column="apply_unit_code" jdbcType="VARCHAR"/>
            <result property="applyUnitName" column="apply_unit_name" jdbcType="VARCHAR"/>
            <result property="purchaseDepartment" column="purchase_department" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_num,order_detail_num,
        project_code,project_name,supplier_name,
        supplier_code,contact_user_telephone,contact_user_name,
        brand_code,brand_name,product_name,
        product_specs,product_out_code,purchase_price,
        purchase_number,pay_amount,product_category_code,
        product_category_name,create_time,apply_user_id,
        apply_user_name,task_num,product_type_code,product_type_name,picture_urls,
        purchase_date,apply_unit_code,apply_unit_name,purchase_department,receive_number
    </sql>
    <select id="selectAllByOrderNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        order_num = #{orderNum,jdbcType=VARCHAR}
    </select>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.BmsOrderDetailTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        <where>
            <if test="orderNum != null and orderNum!=''">and order_num=#{orderNum,jdbcType=VARCHAR}</if>
            <if test="orderDetailNum != null">and order_detail_num=#{orderDetailNum,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!='' ">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="projectName != null and projectName!=''">and project_name=#{projectName,jdbcType=VARCHAR}</if>
            <if test="supplierName != null and supplierName !=''">and supplier_name=#{supplierName,jdbcType=VARCHAR}</if>
            <if test="supplierCode != null and supplierCode!=''">and supplier_code=#{supplierCode,jdbcType=VARCHAR}</if>
            <if test="contactUserTelephone != null">and contact_user_telephone=#{contactUserTelephone,jdbcType=VARCHAR}
            </if>
            <if test="contactUserName != null">and contact_user_name=#{contactUserName,jdbcType=VARCHAR}</if>
            <if test="brandCode != null and brandCode!=''">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="brandName != null and brandName!=''">and brand_name=#{brandName,jdbcType=VARCHAR}</if>
            <if test="productName != null and productName !=''">and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null and productSpecs!=''">and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null">and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="purchasePrice != null">and purchase_price=#{purchasePrice,jdbcType=DECIMAL}</if>
            <if test="purchaseNumber != null">and purchase_number=#{purchaseNumber,jdbcType=NUMERIC}</if>
            <if test="payAmount != null">and pay_amount=#{payAmount,jdbcType=DECIMAL}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryName != null and productCategoryName!=''">and product_category_name=#{productCategoryName,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="productTypeCode != null and productTypeCode!=''">and product_type_code=#{productTypeCode,jdbcType=VARCHAR}</if>
            <if test="purchaseDate != null and purchaseDate!=''">and purchase_date=#{purchaseDate,jdbcType=VARCHAR}</if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}</if>
            <if test="applyUnitName != null and applyUnitName!=''">and apply_unit_name=#{applyUnitName,jdbcType=VARCHAR}</if>
            <if test="purchaseDepartment != null and purchaseDepartment!=''">and purchase_department=#{purchaseDepartment,jdbcType=VARCHAR}</if>
        </where>
        oreder by id desc
    </select>
    <select id="selectOneByOrderDetailNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        order_detail_num = #{orderDetailNum,jdbcType=VARCHAR}
    </select>
</mapper>
