<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsOrderDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsOrderDetailTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
        <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
        <result property="contactUserTelephone" column="contact_user_telephone" jdbcType="VARCHAR"/>
        <result property="contactUserName" column="contact_user_name" jdbcType="VARCHAR"/>
        <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
        <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
        <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
        <result property="purchasePrice" column="purchase_price" jdbcType="DECIMAL"/>
        <result property="purchaseNumber" column="purchase_number" jdbcType="INTEGER"/>
        <result property="receiveNumber" column="receive_number" jdbcType="INTEGER"/>
        <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
        <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
        <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
        <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
        <result property="pictureUrls" column="picture_urls" jdbcType="VARCHAR"/>
        <result property="purchaseDate" column="purchase_date" jdbcType="VARCHAR"/>
        <result property="applyUnitCode" column="apply_unit_code" jdbcType="VARCHAR"/>
        <result property="applyUnitName" column="apply_unit_name" jdbcType="VARCHAR"/>
        <result property="purchaseDepartment" column="purchase_department" jdbcType="VARCHAR"/>
        <result property="contractUrls" column="contract_urls" jdbcType="VARCHAR"/>
        <result property="contractNumber" column="contract_number" jdbcType="VARCHAR"/>
        <result property="paymentVoucherUrls" column="payment_voucher_urls" jdbcType="VARCHAR"/>
        <result property="invoiceUrls" column="invoice_urls" jdbcType="VARCHAR"/>
        <result property="reportAccountTime" column="report_account_time" jdbcType="VARCHAR"/>
        <result property="demandRequireTime" column="demand_require_time" jdbcType="VARCHAR"/>
        <result property="demandUsageTime" column="demand_usage_time" jdbcType="VARCHAR"/>
        <result property="expectedDeliveryTime" column="expected_delivery_time" jdbcType="VARCHAR"/>
        <result property="taxRate" column="tax_rate" jdbcType="VARCHAR"/>
        <result property="returnNumber" column="return_number" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,order_num,order_detail_num,
        project_code,supplier_code,contact_user_telephone,contact_user_name,
        brand_code,product_name,
        product_specs,product_out_code,product_inner_code,purchase_price,
        purchase_number,pay_amount,product_category_code,create_time,apply_user_id,
        apply_user_name,task_num,picture_urls,
        purchase_date,apply_unit_code,apply_unit_name,purchase_department,receive_number,
        payment_voucher_urls,contract_number,invoice_urls,report_account_time,contract_urls,
        demand_require_time,demand_usage_time,expected_delivery_time,tax_rate,return_number
    </sql>
    <select id="selectAllByOrderNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        order_num = #{orderNum,jdbcType=VARCHAR}
    </select>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.BmsOrderDetailTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        <where>
            <if test="orderNum != null and orderNum!=''">and order_num=#{orderNum,jdbcType=VARCHAR}</if>
            <if test="orderDetailNum != null">and order_detail_num=#{orderDetailNum,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!='' ">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="supplierCode != null and supplierCode!=''">and supplier_code=#{supplierCode,jdbcType=VARCHAR}</if>
            <if test="contactUserTelephone != null">and
                contact_user_telephone=#{contactUserTelephone,jdbcType=VARCHAR}
            </if>
            <if test="contactUserName != null">and contact_user_name=#{contactUserName,jdbcType=VARCHAR}</if>
            <if test="brandCode != null and brandCode!=''">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="productName != null and productName !=''">and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null and productSpecs!=''">and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null">and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="productInnerCode != null">and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}</if>
            <if test="purchasePrice != null">and purchase_price=#{purchasePrice,jdbcType=DECIMAL}</if>
            <if test="purchaseNumber != null">and purchase_number=#{purchaseNumber,jdbcType=NUMERIC}</if>
            <if test="payAmount != null">and pay_amount=#{payAmount,jdbcType=DECIMAL}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="dateTime != null and dateTime!=''">
                and date_format(create_time,'%Y-%m')  =#{dateTime,jdbcType=VARCHAR}
            </if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="purchaseDate != null and purchaseDate!=''">and purchase_date=#{purchaseDate,jdbcType=VARCHAR}</if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitName != null and applyUnitName!=''">and
                apply_unit_name=#{applyUnitName,jdbcType=VARCHAR}
            </if>
            <if test="purchaseDepartment != null and purchaseDepartment!=''">and
                purchase_department=#{purchaseDepartment,jdbcType=VARCHAR}
            </if>
            <if test="reportAccountTime != null and reportAccountTime!=''">and
                report_account_time=#{reportAccountTime,jdbcType=VARCHAR}
            </if>
            <if test="invoiceUrls != null">and invoice_urls=#{invoiceUrls,jdbcType=VARCHAR}</if>
            <if test="contractUrls != null">and contract_urls=#{contractUrls,jdbcType=VARCHAR}</if>
            <if test='reportAccountTimeNullFlag == "Y"'>and report_account_time is null</if>
            <if test='paymentVoucherUrlsNullFlag == "Y"'>and payment_voucher_urls is null</if>
            <if test='filterZeroFlag == "Y"'>and purchase_number>receive_number</if>
        </where>
        order by id desc
    </select>
    <select id="selectOneByOrderDetailNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        order_detail_num = #{orderDetailNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByProjectCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        project_code = #{projectCode,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByProductInnerCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where
        product_inner_code = #{productInnerCode,jdbcType=VARCHAR}
    </select>
    <select id="selectForOrderCount1" resultType="java.math.BigDecimal"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select sum(pay_amount) from bms_order_detail_tb
        <where>
            <if test="productInnerCode != null and productInnerCode!=''">
                and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">
                and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
    </select>

    <select id="selectForOrderCount2" resultType="java.math.BigDecimal"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select sum(pay_amount) from bms_order_detail_tb
        where report_account_time is not null
        <if test="productInnerCode != null and productInnerCode!=''">
            and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
        </if>
        <if test="productCategoryCode != null and productCategoryCode!=''">
            and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
        </if>
        <if test="applyUnitCode != null and applyUnitCode!=''">and apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
        </if>
        <if test='countType=="year"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
        <if test='countType=="month"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
    </select>
    <select id="selectForDirectionPurchaseAmountCount" resultType="com.bio.drqi.domain.BmsOrderDetailTb"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select
        <if test='countType=="year"'>date_format(create_time,'%Y') as dateTime ,</if>
        <if test='countType=="month"'>date_format(create_time,'%Y-%m') as dateTime,</if>
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        <where>
            <if test="productInnerCode != null and productInnerCode!=''">
                and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">
                and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by dateTime order by dateTime
    </select>

    <select id="selectForDirectionReportAmountCount" resultType="com.bio.drqi.domain.BmsOrderDetailTb"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select
        <if test='countType=="year"'>SUBSTRING(report_account_time,1,4) as dateTime ,</if>
        <if test='countType=="month"'>report_account_time as dateTime,</if>
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        where
        report_account_time is not null
        <if test="productInnerCode != null and productInnerCode!=''">
            and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
        </if>
        <if test="productCategoryCode != null and productCategoryCode!=''">
            and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
        </if>
        <if test="applyUnitCode != null and applyUnitCode!=''">and
            apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
        </if>
        <if test='countType=="year"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and SUBSTRING(report_account_time,1,4) >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and SUBSTRING(report_account_time,1,4) &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
        <if test='countType=="month"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and report_account_time >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and report_account_time &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
        group by dateTime order by dateTime
    </select>

    <select id="selectForDirectionSupplierCount" resultType="com.bio.drqi.domain.BmsOrderDetailTb">
        select
        sum(pay_amount) as pay_amount ,
        supplier_code
        from bms_order_detail_tb
        <where>
            <if test="productInnerCode != null and productInnerCode!=''">
                and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">
                and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by supplier_code
        order by pay_amount desc limit 10
    </select>
    <select id="selectForReportNoInStockListPage" resultType="com.bio.drqi.domain.BmsOrderDetailTb"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select
        <include refid="Base_Column_List"/>
        from bms_order_detail_tb
        where report_account_time is null
        and order_detail_num  in
        (select order_detail_num from bms_product_stock_in_log where order_detail_num is not null)
        <if test="productInnerCode != null and productInnerCode!=''">
            and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
        </if>
        <if test="productCategoryCode != null and productCategoryCode!=''">
            and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
        </if>
        <if test="applyUnitCode != null and applyUnitCode!=''">and
            apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
        </if>
        <if test='countType=="year"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
        <if test='countType=="month"'>
            <if test="beginDateTime != null and beginDateTime!=''">
                and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
            </if>
            <if test="endDateTime != null and endDateTime!=''">
                and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
            </if>
        </if>
    </select>
    <select id="selectForCountPurchaseAmountGroupByCategory" resultType="com.bio.drqi.domain.BmsOrderDetailTb"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select product_category_code,
        <if test='countType=="year"'>date_format(create_time,'%Y') as dateTime ,</if>
        <if test='countType=="month"'>date_format(create_time,'%Y-%m') as dateTime,</if>
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        <where>
            <if test='reportFlag=="Y"'>and report_account_time is not null</if>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by
        <if test="countType != null and countType!=''">
            dateTime,
        </if>
        product_category_code
    </select>
    <select id="selectForCountReportAmountGroupByCategory" resultType="com.bio.drqi.domain.BmsOrderDetailTb"
            parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select product_category_code,
        <if test='countType=="year"'>SUBSTRING(report_account_time,1,4) as dateTime ,</if>
        <if test='countType=="month"'>report_account_time as dateTime,</if>
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        <where>
            <if test='reportFlag=="Y"'>and report_account_time is not null</if>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and SUBSTRING(report_account_time,1,4) >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and SUBSTRING(report_account_time,1,4) &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and report_account_time >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and report_account_time &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by
        <if test="countType != null and countType!=''">
            dateTime,
        </if>
        product_category_code
    </select>
    <select id="selectForCountReportAmountByProjectCode" resultType="com.bio.drqi.domain.BmsOrderDetailTb" parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select project_code,
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        <where>
            <if test='reportFlag=="Y"'>and report_account_time is not null</if>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and SUBSTRING(report_account_time,1,4) >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and SUBSTRING(report_account_time,1,4) &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and report_account_time >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and report_account_time &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by project_code
    </select>

    <select id="selectForCountPurchaseAmountByProjectCode" resultType="com.bio.drqi.domain.BmsOrderDetailTb" parameterType="com.bio.drqi.domain.BmsOrderDetailTb">
        select project_code,
        sum(pay_amount) as pay_amount
        from bms_order_detail_tb
        <where>
            <if test='reportFlag=="Y"'>and report_account_time is not null</if>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="applyUnitCode != null and applyUnitCode!=''">and
                apply_unit_code=#{applyUnitCode,jdbcType=VARCHAR}
            </if>
            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by project_code
    </select>
</mapper>
