<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsProductStockTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsProductStockTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
        <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
        <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
        <result property="productTypeCode" column="product_type_code" jdbcType="VARCHAR"/>
        <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
        <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
        <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
        <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
        <result property="totalStoreNumber" column="total_store_number" jdbcType="INTEGER"/>
        <result property="currentStockNumber" column="current_stock_number" jdbcType="INTEGER"/>
        <result property="totalOutNumber" column="total_out_number" jdbcType="INTEGER"/>
        <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
        <result property="stockLocationNumber" column="stock_location_number" jdbcType="VARCHAR"/>
        <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
        <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
        <result property="uniqueCode" column="unique_code" jdbcType="VARCHAR"/>
        <result property="produceDate" column="produce_date" jdbcType="VARCHAR"/>
        <result property="expirationDate" column="expiration_date" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,product_name,product_out_code,
        product_category_code,product_type_code,brand_code,
        brand_name,product_specs,batch_no,
        total_store_number,current_stock_number,total_out_number,
        unit_code,stock_location_number,product_inner_code,supplier_code,supplier_name,unique_code,produce_date,expiration_date
    </sql>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.BmsProductStockTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_tb
        <where>
            <if test="productName != null and productName != ''"> and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null and productOutCode!=''"> and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''"> and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}</if>
            <if test="productTypeCode != null and productTypeCode!=''"> and product_type_code=#{productTypeCode,jdbcType=VARCHAR}</if>
            <if test="brandCode != null and brandCode!=''"> and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="brandName != null and brandName!=''"> and brand_name=#{brandName,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null and productSpecs!=''"> and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="batchNo != null and batchNo!=''"> and batch_no=#{batchNo,jdbcType=VARCHAR}</if>
            <if test="totalStoreNumber != null "> and total_store_number=#{totalStoreNumber,jdbcType=NUMERIC}</if>
            <if test="currentStockNumber != null"> and current_stock_number=#{currentStockNumber,jdbcType=NUMERIC}</if>
            <if test="totalOutNumber != null"> and total_out_number=#{totalOutNumber,jdbcType=NUMERIC}</if>
            <if test="unitCode != null and unitCode!=''"> and unit_code=#{unitCode,jdbcType=VARCHAR}</if>
            <if test="stockLocationNumber != null"> and stock_location_number=#{stockLocationNumber,jdbcType=VARCHAR}</if>
            <if test="produceDate != null"> and produce_date=#{produceDate,jdbcType=VARCHAR}</if>
            <if test="expirationDate != null"> and expiration_date=#{expirationDate,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>

    <select id="selectProductNameByUnitCode" resultType="java.lang.String">
        select product_name
        from bms_product_stock_tb
        where unit_code = #{unitCode,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByUniqueCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_tb
        where
        unique_code = #{uniqueCode,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByProductInnerCodeAndUnitCodeAndBatchNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_tb
        where
        product_inner_code = #{productInnerCode,jdbcType=VARCHAR}
        AND unit_code = #{unitCode,jdbcType=VARCHAR}
        AND batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByStockLocationNumberIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_tb
        where
        stock_location_number in
        <foreach collection="stockLocationNumberList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

</mapper>
