<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsProductTbMapper">
    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsProductTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
        <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
        <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
        <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
        <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
        <result property="pictureUrls" column="picture_urls" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="productStatus" column="product_status" jdbcType="VARCHAR"/>
        <result property="purchaseTypeCode" column="purchase_type_code" jdbcType="VARCHAR"/>
        <result property="kdNumber" column="kd_number" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,
        product_name,product_out_code,purchase_type_code,
        product_inner_code,product_category_code,brand_code,
        product_specs,create_time,create_user_id,
        create_user_name,product_status,kd_number,update_time
    </sql>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BmsProductTb">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        <where>
            <if test="productOutCode != null and productOutCode!=''">and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="productInnerCode != null and productInnerCode!=''">and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}</if>
            <if test="productName != null and productName!=''">and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null and productCategoryCode != ''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="brandCode != null and brandCode != ''">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null and productSpecs != ''">and product_specs=#{productSpecs,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="startDate != null and startDate != ''">
                and date_format(update_time,'%Y-%m-%d') &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(update_time,'%Y-%m-%d') &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="productStatus != null and productStatus!=''">and product_status=#{productStatus,jdbcType=VARCHAR}</if>
            <if test="purchaseTypeCode != null and purchaseTypeCode!=''">and purchase_type_code=#{purchaseTypeCode,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByProductTypeCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_type_code = #{productTypeCode,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByProductCategoryCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_category_code = #{productCategoryCode,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByProductNameAndBrandCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_name = #{productName,jdbcType=VARCHAR}
        AND brand_code = #{brandCode,jdbcType=VARCHAR}
    </select>
    <select id="selectAllOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        order by id desc
    </select>
    <select id="selectProductNameOrderByIdDesc" resultType="java.lang.String">
        select distinct product_name
        from bms_product_tb
    </select>

    <select id="selectMaxProductInnerCode" resultType="java.lang.String">
        select product_inner_code
        from bms_product_tb
        order by id desc limit 1
    </select>
    <select id="selectOneByProductInnerCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_inner_code = #{productInnerCode,jdbcType=VARCHAR}
    </select>

    <select id="selectOneByProductOutCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_out_code = #{productOutCode,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByProductName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_name = #{productName,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByProductNameAndBrandCodeAndProductSpecsAndProductOutCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_name = #{productName,jdbcType=VARCHAR}
        AND brand_code = #{brandCode,jdbcType=VARCHAR}
        AND product_specs = #{productSpecs,jdbcType=VARCHAR}
        AND product_out_code = #{productOutCode,jdbcType=VARCHAR}
    </select>

</mapper>
