<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsProductStockInLogMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsProductStockInLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
            <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
            <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
            <result property="productTypeCode" column="product_type_code" jdbcType="VARCHAR"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
            <result property="storeNumber" column="store_number" jdbcType="INTEGER"/>
            <result property="storeAmount" column="store_amount" jdbcType="DECIMAL"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="stockLocationNumber" column="stock_location_number" jdbcType="VARCHAR"/>
            <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
            <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
            <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
            <result property="uniqueCode" column="unique_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_detail_num,product_name,
        product_inner_code,product_out_code,product_category_code,
        product_type_code,brand_code,brand_name,
        product_specs,batch_no,project_code,
        product_price,store_number,store_amount,
        apply_user_id,apply_user_name,create_time,
        task_num,order_num,stock_location_number,
        unit_code,supplier_name,supplier_code,
        unique_code
    </sql>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BmsProductStockInLog">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_in_log
        <where>
            <if test="orderDetailNum != null and orderDetailNum!=''">and order_detail_num=#{orderDetailNum,jdbcType=VARCHAR}</if>
            <if test="productName != null and productName!=''">and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null and productOutCode!=''">and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null">and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}</if>
            <if test="productTypeCode != null">and product_type_code=#{productTypeCode,jdbcType=VARCHAR}</if>
            <if test="brandCode != null">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="brandName != null and brandName!=''">and brand_name=#{brandName,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null">and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="batchNo != null and batchNo!=''">and batch_no=#{batchNo,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!=''">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="productPrice != null">and product_price=#{productPrice,jdbcType=DECIMAL}</if>
            <if test="storeNumber != null">and store_number=#{storeNumber,jdbcType=NUMERIC}</if>
            <if test="storeAmount != null">and store_amount=#{storeAmount,jdbcType=DECIMAL}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="orderNum != null and orderNum!=''">and order_num=#{orderNum,jdbcType=VARCHAR}</if>
            <if test="stockLocationNumber != null and stockLocationNumber!=''">and stock_location_number=#{stockLocationNumber,jdbcType=VARCHAR}</if>
            <if test="unitCode != null and unitCode!=''">and unit_code=#{unitCode,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_in_log
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByTaskNumAndProductInnerCodeAndBatchNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_in_log
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
        AND product_inner_code = #{productInnerCode,jdbcType=VARCHAR}
        AND batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>

</mapper>
