<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsProductStockOutLogMapper">
    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsProductStockOutLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
            <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
            <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="outNumber" column="out_number" jdbcType="INTEGER"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="outType" column="out_type" jdbcType="VARCHAR"/>
            <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
            <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
            <result property="uniqueCode" column="unique_code" jdbcType="VARCHAR"/>
            <result property="produceDate" column="produce_date" jdbcType="VARCHAR"/>
            <result property="expirationDate" column="expiration_date" jdbcType="VARCHAR"/>
            <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
            <result property="kdNumber" column="kd_number" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,product_name,product_out_code,
        product_inner_code,product_category_code,
        brand_code,product_specs,
        batch_no,out_number,apply_user_id,
        apply_user_name,create_time,task_num,
        remark,out_type,unit_code,kd_number,
        supplier_code,unique_code,produce_date,expiration_date,stock_code,product_price
    </sql>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.BmsProductStockOutLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_out_log
        <where>
            <if test="productName != null and productName!='' ">and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null and productOutCode!=''">and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="productInnerCode != null and productInnerCode!=''">and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}</if>
            <if test="brandCode != null and brandCode!=''">and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null">and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="batchNo != null and batchNo!=''">and batch_no=#{batchNo,jdbcType=VARCHAR}</if>
            <if test="outNumber != null">and out_number=#{outNumber,jdbcType=NUMERIC}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="startDate != null and startDate != ''">
                and date_format(create_time,'%Y-%m-%d') &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(create_time,'%Y-%m-%d') &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="remark != null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="outType != null and outType!=''">and out_type=#{outType,jdbcType=VARCHAR}</if>
            <if test="unitCode != null and unitCode!=''">and unit_code=#{unitCode,jdbcType=VARCHAR}</if>
            <if test="supplierCode != null and supplierCode!=''">and supplier_code=#{supplierCode,jdbcType=VARCHAR}</if>
            <if test="uniqueCode != null and uniqueCode!=''">and unique_code=#{uniqueCode,jdbcType=VARCHAR}</if>
            <if test="produceDate != null"> and produce_date=#{produceDate,jdbcType=VARCHAR}</if>
            <if test="expirationDate != null"> and expiration_date=#{expirationDate,jdbcType=VARCHAR}</if>
            <if test="stockCode != null and stockCode!=''"> and stock_code=#{stockCode,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByUniqueCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_stock_out_log
        where
        unique_code = #{uniqueCode,jdbcType=VARCHAR}
    </select>
</mapper>
