<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsProductTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsProductTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
            <result property="projectInnerCode" column="project_inner_code" jdbcType="VARCHAR"/>
            <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
            <result property="productTypeCode" column="product_type_code" jdbcType="VARCHAR"/>
            <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_name,product_out_code,
        project_inner_code,product_category_code,product_type_code,
        supplier_code,brand_name,brand_code,
        product_specs,create_time,create_user_id,
        create_user_name,delete_flag
    </sql>
    <update id="updateDeleteFlagBySupplierCode">
        update bms_product_tb
        set delete_flag = #{deleteFlag,jdbcType=VARCHAR}
        where supplier_code = #{supplierCode,jdbcType=VARCHAR}
    </update>
    <update id="updateDeleteFlagByBrandCode">
        update bms_product_tb
        set delete_flag = #{deleteFlag,jdbcType=VARCHAR}
        where brand_code = #{brandCode,jdbcType=VARCHAR}
    </update>
    <select id="selectSelective" resultMap="BaseResultMap" resultType="com.bio.drqi.domain.BmsProductTb">
        update bms_product_tb
        <set>
            <if test="productName != null">product_name=#{productName,jdbcType=VARCHAR},</if>
            <if test="productOutCode != null">product_out_code=#{productOutCode,jdbcType=VARCHAR},</if>
            <if test="projectInnerCode != null">project_inner_code=#{projectInnerCode,jdbcType=VARCHAR},</if>
            <if test="productCategoryCode != null">product_category_code=#{productCategoryCode,jdbcType=VARCHAR},</if>
            <if test="productTypeCode != null">product_type_code=#{productTypeCode,jdbcType=VARCHAR},</if>
            <if test="supplierCode != null">supplier_code=#{supplierCode,jdbcType=VARCHAR},</if>
            <if test="brandName != null">brand_name=#{brandName,jdbcType=VARCHAR},</if>
            <if test="brandCode != null">brand_code=#{brandCode,jdbcType=VARCHAR},</if>
            <if test="productSpecs != null">product_specs=#{productSpecs,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createUserId != null">create_user_id=#{createUserId,jdbcType=NUMERIC},</if>
            <if test="createUserName != null">create_user_name=#{createUserName,jdbcType=VARCHAR},</if>
            <if test="deleteFlag != null">delete_flag=#{deleteFlag,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </select>
    <select id="selectAllByProductTypeCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_product_tb
        where
        product_type_code = #{productTypeCode,jdbcType=VARCHAR}
    </select>

</mapper>
