<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsReturnOrderDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsReturnOrderDetailTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
        <result property="returnNumber" column="return_number" jdbcType="INTEGER"/>
        <result property="returnAmount" column="return_amount" jdbcType="DECIMAL"/>
        <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
        <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
        <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
        <result property="brandCode" column="brand_code" jdbcType="VARCHAR"/>
        <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
        <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
        <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
        <result property="productInnerCode" column="product_inner_code" jdbcType="VARCHAR"/>
        <result property="expirationDate" column="expiration_date" jdbcType="VARCHAR"/>
        <result property="produceDate" column="produce_date" jdbcType="VARCHAR"/>
        <result property="productOutCode" column="product_out_code" jdbcType="VARCHAR"/>
        <result property="taxRate" column="tax_rate" jdbcType="VARCHAR"/>
        <result property="inStockId" column="in_stock_id" jdbcType="VARCHAR"/>
        <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
        <result property="uniqueCode" column="unique_code" jdbcType="VARCHAR"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="productCategoryCode" column="product_category_code" jdbcType="VARCHAR"/>
        <result property="kdNumber" column="kd_number" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,order_detail_num,return_number,
        return_amount,apply_user_id,apply_user_name,
        product_name,product_price,remark,
        create_time,order_num,product_specs,
        brand_code,batch_no,
        unit_code,supplier_code,
        product_inner_code,expiration_date,produce_date,
        product_out_code,tax_rate,in_stock_id,stock_code,unique_code,project_code,product_category_code,kd_number
    </sql>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.BmsReturnOrderDetailTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_return_order_detail_tb
        <where>
            <if test="orderDetailNum != null"> and order_detail_num=#{orderDetailNum,jdbcType=VARCHAR}</if>
            <if test="returnNumber != null"> and return_number=#{returnNumber,jdbcType=NUMERIC}</if>
            <if test="returnAmount != null"> and return_amount=#{returnAmount,jdbcType=DECIMAL}</if>
            <if test="applyUserId != null"> and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null"> and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="productName != null and productName!=''"> and product_name=#{productName,jdbcType=VARCHAR}</if>
            <if test="productPrice != null"> and product_price=#{productPrice,jdbcType=DECIMAL}</if>
            <if test="remark != null"> and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="startDate != null and startDate != ''">
                and date_format(create_time,'%Y-%m-%d') &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(create_time,'%Y-%m-%d') &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
            <if test="orderNum != null and orderNum!=''"> and order_num=#{orderNum,jdbcType=VARCHAR}</if>
            <if test="productSpecs != null"> and product_specs=#{productSpecs,jdbcType=VARCHAR}</if>
            <if test="brandCode != null and brandCode!=''"> and brand_code=#{brandCode,jdbcType=VARCHAR}</if>
            <if test="batchNo != null"> and batch_no=#{batchNo,jdbcType=VARCHAR}</if>
            <if test="unitCode != null and unitCode!=''"> and unit_code=#{unitCode,jdbcType=VARCHAR}</if>
            <if test="supplierCode != null and supplierCode!=''"> and supplier_code=#{supplierCode,jdbcType=VARCHAR}</if>
            <if test="productInnerCode != null and productInnerCode!=''"> and product_inner_code=#{productInnerCode,jdbcType=VARCHAR}</if>
            <if test="expirationDate != null"> and expiration_date=#{expirationDate,jdbcType=VARCHAR}</if>
            <if test="produceDate != null"> and produce_date=#{produceDate,jdbcType=VARCHAR}</if>
            <if test="productOutCode != null and productOutCode!=''"> and product_out_code=#{productOutCode,jdbcType=VARCHAR}</if>
            <if test="taxRate != null"> and tax_rate=#{taxRate,jdbcType=VARCHAR}</if>
            <if test="stockCode != null and stockCode!=''"> and stock_code=#{stockCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null">and product_category_code=#{productCategoryCode,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByOrderDetailNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_return_order_detail_tb
        where
        order_detail_num = #{orderDetailNum,jdbcType=VARCHAR}
    </select>
    <select id="selectSumAmount" resultType="java.math.BigDecimal"
            parameterType="com.bio.drqi.domain.BmsReturnOrderDetailTb">
        select sum(return_amount) from bms_return_order_detail_tb
        <where>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="stockCode != null and stockCode!=''">and stock_code=#{stockCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="unitCode != null and unitCode!=''">and unit_code=#{unitCode,jdbcType=VARCHAR}</if>

            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
    </select>
    <select id="selectForCountStockDetailList" resultType="com.bio.drqi.domain.BmsReturnOrderDetailTb" parameterType="com.bio.drqi.domain.BmsReturnOrderDetailTb">
        select product_inner_code,
        brand_code,
        batch_no,
        stock_code,
        unit_code,
        sum(return_amount) as return_amount,
        sum(return_number) as return_number
        from bms_return_order_detail_tb
        <where>
            <if test="productInnerCode != null and productInnerCode!=''">and
                product_inner_code=#{productInnerCode,jdbcType=VARCHAR}
            </if>
            <if test="stockCode != null and stockCode!=''">and stock_code=#{stockCode,jdbcType=VARCHAR}</if>
            <if test="productCategoryCode != null and productCategoryCode!=''">and
                product_category_code=#{productCategoryCode,jdbcType=VARCHAR}
            </if>
            <if test="unitCode != null and unitCode!=''">and unit_code=#{unitCode,jdbcType=VARCHAR}</if>

            <if test='countType=="year"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
            <if test='countType=="month"'>
                <if test="beginDateTime != null and beginDateTime!=''">
                    and date_format(create_time,'%Y-%m') >=#{beginDateTime,jdbcType=VARCHAR}
                </if>
                <if test="endDateTime != null and endDateTime!=''">
                    and date_format(create_time,'%Y-%m') &lt;=#{endDateTime,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        group by product_inner_code, brand_code, batch_no, stock_code,unit_code
    </select>
    <select id="selectAllByCreateTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_return_order_detail_tb
        where
        date_format(create_time,'%Y-%m') =#{dateTime,jdbcType=VARCHAR}
    </select>
</mapper>
