<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsReturnOrderDetailTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsReturnOrderDetailTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderDetailNum" column="order_detail_num" jdbcType="VARCHAR"/>
            <result property="returnNumber" column="return_number" jdbcType="INTEGER"/>
            <result property="returnAmount" column="return_amount" jdbcType="DECIMAL"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_detail_num,return_number,
        return_amount,apply_user_id,apply_user_name,
        product_name,product_price,remark,
        create_time
    </sql>
</mapper>
