<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsStockDictMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsStockDict">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
            <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
            <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
            <result property="kdNumber" column="kd_number" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_name,stock_code,
        unit_code,kd_number,create_time,
        create_user_id,create_user_name
    </sql>
    <select id="selectOneByStockName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_stock_dict
        where
        stock_name = #{stockName,jdbcType=VARCHAR}
    </select>
</mapper>
