<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.BmsSupplierTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.BmsSupplierTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="supplierCode" column="supplier_code" jdbcType="VARCHAR"/>
        <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
        <result property="openingBank" column="opening_bank" jdbcType="VARCHAR"/>
        <result property="bankAccount" column="bank_account" jdbcType="VARCHAR"/>
        <result property="taxId" column="tax_id" jdbcType="VARCHAR"/>
        <result property="qualificationLocation" column="qualification_location" jdbcType="VARCHAR"/>
        <result property="businessScope" column="business_scope" jdbcType="VARCHAR"/>
        <result property="cooperateForm" column="cooperate_form" jdbcType="VARCHAR"/>
        <result property="frameworkAgreementNumber" column="framework_agreement_number" jdbcType="VARCHAR"/>
        <result property="frameworkAgreementAnnex" column="framework_agreement_annex" jdbcType="VARCHAR"/>
        <result property="expirationDate" column="expiration_date" jdbcType="VARCHAR"/>
        <result property="contactUserName" column="contact_user_name" jdbcType="VARCHAR"/>
        <result property="contactUserTelephone" column="contact_user_telephone" jdbcType="VARCHAR"/>
        <result property="leaderUserName" column="leader_user_name" jdbcType="VARCHAR"/>
        <result property="leaderUserId" column="leader_user_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,supplier_code,supplier_name,
        opening_bank,bank_account,tax_id,
        qualification_location,business_scope,cooperate_form,
        framework_agreement_number,framework_agreement_annex,expiration_date,
        contact_user_name,contact_user_telephone,leader_user_name,
        leader_user_id,remark,create_time,
        create_user_name,create_user_id,delete_flag
    </sql>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.BmsSupplierTb">
        select
        <include refid="Base_Column_List"/>
        from bms_supplier_tb
        <where>
            <if test="supplierCode != null">and supplier_code LIKE  CONCAT('%',#{supplierCode,jdbcType=VARCHAR},'%')</if>
            <if test="supplierName != null">and supplier_name LIKE  CONCAT('%',#{supplierName,jdbcType=VARCHAR},'%')</if>
            <if test="openingBank != null">and opening_bank=#{openingBank,jdbcType=VARCHAR}</if>
            <if test="bankAccount != null">and bank_account=#{bankAccount,jdbcType=VARCHAR}</if>
            <if test="taxId != null">and tax_id=#{taxId,jdbcType=VARCHAR}</if>
            <if test="qualificationLocation != null">and qualification_location=#{qualificationLocation,jdbcType=VARCHAR}
            </if>
            <if test="businessScope != null">and business_scope=#{businessScope,jdbcType=VARCHAR}</if>
            <if test="cooperateForm != null">and cooperate_form=#{cooperateForm,jdbcType=VARCHAR}</if>
            <if test="frameworkAgreementNumber != null">
                and  framework_agreement_number=#{frameworkAgreementNumber,jdbcType=VARCHAR}
            </if>
            <if test="frameworkAgreementAnnex != null">
                and  framework_agreement_annex=#{frameworkAgreementAnnex,jdbcType=VARCHAR}
            </if>
            <if test="expirationDate != null">and expiration_date=#{expirationDate,jdbcType=VARCHAR}</if>
            <if test="contactUserName != null">and contact_user_name=#{contactUserName,jdbcType=VARCHAR}</if>
            <if test="contactUserTelephone != null">and contact_user_telephone=#{contactUserTelephone,jdbcType=VARCHAR}
            </if>
            <if test="leaderUserName != null">and leader_user_name=#{leaderUserName,jdbcType=VARCHAR}</if>
            <if test="leaderUserId != null">and leader_user_id=#{leaderUserId,jdbcType=NUMERIC}</if>
            <if test="remark != null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="deleteFlag != null">and delete_flag=#{deleteFlag,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectSupplierCodeAndSupplierCodeByDeleteFlagOrderByIdDesc" resultMap="BaseResultMap">
        select supplier_code, supplier_name
        from bms_supplier_tb
        where delete_flag = #{deleteFlag,jdbcType=VARCHAR}
        order by id desc
    </select>
    <select id="selectOneBySupplierCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_supplier_tb
        where
        supplier_code = #{supplierCode,jdbcType=VARCHAR}
    </select>
    <select id="selectOneBySupplierName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bms_supplier_tb
        where
        supplier_name = #{supplierName,jdbcType=VARCHAR}
    </select>

    <select id="selectMaxSupplierCode" resultType="java.lang.String">
        select supplier_code
        from bms_supplier_tb
        order by id desc limit 1
    </select>

</mapper>
