<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.CerPlasmidQualityTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.CerPlasmidQualityTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="subProjectId" column="sub_project_id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="vectorTaskId" column="vector_task_id" jdbcType="INTEGER"/>
            <result property="plasmidName" column="plasmid_name" jdbcType="VARCHAR"/>
            <result property="qualityInspectionNumber" column="quality_inspection_number" jdbcType="VARCHAR"/>
            <result property="qualityInspectionResult" column="quality_inspection_result" jdbcType="VARCHAR"/>
            <result property="agrobacteriumInformation" column="agrobacterium_information" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="qualityInspectionType" column="quality_inspection_type" jdbcType="VARCHAR"/>
            <result property="agrobacteriumResistance" column="agrobacterium_resistance" jdbcType="VARCHAR"/>
            <result property="plasmidConcentration" column="plasmid_concentration" jdbcType="VARCHAR"/>
            <result property="extractionKit" column="extraction_kit" jdbcType="VARCHAR"/>
            <result property="fileUrls" column="file_urls" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="subProjectCode" column="sub_project_code" jdbcType="VARCHAR"/>
            <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,sub_project_id,project_id,
        vector_task_id,plasmid_name,
        quality_inspection_number,quality_inspection_result,agrobacterium_information,
        create_user_name,create_user_id,update_time,
        create_time,quality_inspection_type,agrobacterium_resistance,
        plasmid_concentration,extraction_kit,file_urls,
        task_status,task_num,project_code,
        sub_project_code,vector_task_code,remark
    </sql>
    <select id="selectAllByVectorIdAndQualityInspectionResult" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        where
        vector_id = #{vectorId,jdbcType=NUMERIC}
        AND quality_inspection_result = #{qualityInspectionResult,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByTaskNum">
        delete
        from cer_plasmid_quality_tb
        where task_num = #{taskNum,jdbcType=VARCHAR}
    </delete>
    <update id="updateTaskStatusByTaskNum">
        update cer_plasmid_quality_tb
        set task_status = #{taskStatus,jdbcType=VARCHAR}
        where task_num = #{taskNum,jdbcType=VARCHAR}
    </update>
    <select id="selectAllByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        where
        project_id = #{projectId,jdbcType=NUMERIC}
        order by id  desc
    </select>
    <select id="selectAllByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByVectorTaskId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        where
        vector_task_id = #{vectorTaskId,jdbcType=NUMERIC}
    </select>
    <update id="updateQualityInspectionResultByVectorTaskId">
        update cer_plasmid_quality_tb
        set quality_inspection_result = #{qualityInspectionResult,jdbcType=VARCHAR}
        where vector_task_id = #{vectorTaskId,jdbcType=NUMERIC}
    </update>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.CerPlasmidQualityTb">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        <where>
            <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
            <if test="subProjectId != null">and sub_project_id=#{subProjectId,jdbcType=NUMERIC}</if>
            <if test="projectId != null">and project_id=#{projectId,jdbcType=NUMERIC}</if>
            <if test="vectorTaskId != null">and vector_task_id=#{vectorTaskId,jdbcType=NUMERIC}</if>
            <if test="plasmidName != null and plasmidName!=''">and plasmid_name=#{plasmidName,jdbcType=VARCHAR}</if>
            <if test="qualityInspectionNumber != null">
                and  quality_inspection_number=#{qualityInspectionNumber,jdbcType=VARCHAR}
            </if>
            <if test="qualityInspectionResult != null">
                and   quality_inspection_result=#{qualityInspectionResult,jdbcType=VARCHAR}
            </if>
            <if test="agrobacteriumInformation != null">
                and  agrobacterium_information=#{agrobacteriumInformation,jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="updateTime != null">and update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="qualityInspectionType != null">
                and  quality_inspection_type=#{qualityInspectionType,jdbcType=VARCHAR}
            </if>
            <if test="agrobacteriumResistance != null">
                and   agrobacterium_resistance=#{agrobacteriumResistance,jdbcType=VARCHAR}
            </if>
            <if test="plasmidConcentration != null">and plasmid_concentration=#{plasmidConcentration,jdbcType=VARCHAR}</if>
            <if test="extractionKit != null">and extraction_kit=#{extractionKit,jdbcType=VARCHAR}</if>
            <if test="fileUrls != null">and file_urls=#{fileUrls,jdbcType=VARCHAR}</if>
            <if test="taskStatus != null">and task_status=#{taskStatus,jdbcType=VARCHAR}</if>
            <if test="taskNum != null and taskNum!=''">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!=''">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="subProjectCode != null and subProjectCode!=''">and sub_project_code=#{subProjectCode,jdbcType=VARCHAR}</if>
            <if test="vectorTaskCode != null and vectorTaskCode!=''">and vector_task_code=#{vectorTaskCode,jdbcType=VARCHAR}</if>
            <if test="remark != null">and remark=#{remark,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByVectorTaskCodeAndPlasmidName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plasmid_quality_tb
        where
        vector_task_code = #{vectorTaskCode,jdbcType=VARCHAR}
        AND plasmid_name = #{plasmidName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByVectorTaskId">
        delete
        from cer_plasmid_quality_tb
        where vector_task_id = #{vectorTaskId,jdbcType=NUMERIC}
    </delete>
</mapper>

