<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.CerPlantTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.CerPlantTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="cerNumber" column="cer_number" jdbcType="VARCHAR"/>
            <result property="subProjectCode" column="sub_project_code" jdbcType="VARCHAR"/>
            <result property="subProjectId" column="sub_project_id" jdbcType="INTEGER"/>
            <result property="vectorTaskId" column="vector_task_id" jdbcType="INTEGER"/>
            <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
            <result property="plasmidName" column="plasmid_name" jdbcType="VARCHAR"/>
            <result property="transformCode" column="transform_code" jdbcType="VARCHAR"/>
            <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
            <result property="generation" column="generation" jdbcType="VARCHAR"/>
            <result property="plantNumber" column="plant_number" jdbcType="INTEGER"/>
            <result property="plantDate" column="plant_date" jdbcType="VARCHAR"/>
            <result property="transplantDate" column="transplant_date" jdbcType="VARCHAR"/>
            <result property="vernalizationBeginDate" column="vernalization_begin_date" jdbcType="VARCHAR"/>
            <result property="vernalizationEndDate" column="vernalization_end_date" jdbcType="VARCHAR"/>
            <result property="pollinationMethod" column="pollination_method" jdbcType="VARCHAR"/>
            <result property="plantStatus" column="plant_status" jdbcType="VARCHAR"/>
            <result property="fatherInfo" column="father_info" jdbcType="VARCHAR"/>
            <result property="motherInfo" column="mother_info" jdbcType="VARCHAR"/>
            <result property="pollinationDate" column="pollination_date" jdbcType="VARCHAR"/>
            <result property="harvestDate" column="harvest_date" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="otherField" column="other_field" jdbcType="OTHER"/>
            <result property="editType" column="edit_type" jdbcType="VARCHAR"/>
            <result property="species" column="species" jdbcType="VARCHAR"/>
            <result property="acceptorMaterial" column="acceptor_material" jdbcType="VARCHAR"/>
            <result property="checkResult" column="check_result" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,project_code,
        cer_number,sub_project_code,sub_project_id,
        vector_task_id,vector_task_code,plasmid_name,
        transform_code,sample_code,generation,
        plant_number,plant_date,transplant_date,
        vernalization_begin_date,vernalization_end_date,pollination_method,
        plant_status,father_info,mother_info,
        pollination_date,harvest_date,create_date,
        update_time,other_field,edit_type,
        species,acceptor_material,check_result,task_num,
        task_status
    </sql>
    <delete id="deleteByProjectIdAndSampleCodeIn">
        delete from cer_plant_tb
        where
        project_id = #{projectId,jdbcType=NUMERIC}
        AND sample_code in
        <foreach collection="sampleCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <insert id="insertBatch">
        insert into cer_plant_tb(id,project_id,project_code,
        cer_number,sub_project_code,sub_project_id,
        vector_task_id,vector_task_code,plasmid_name,
        transform_code,sample_code,generation,
        plant_number,plant_date,transplant_date,
        vernalization_begin_date,vernalization_end_date,pollination_method,
        plant_status,father_info,mother_info,
        pollination_date,harvest_date,create_date,
        update_time,other_field,edit_type,
        species,acceptor_material,check_result,task_num,task_status)
        values
        <foreach collection="cerPlantTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.projectId,jdbcType=NUMERIC},#{item.projectCode,jdbcType=VARCHAR},
            #{item.cerNumber,jdbcType=VARCHAR},#{item.subProjectCode,jdbcType=VARCHAR},#{item.subProjectId,jdbcType=NUMERIC},
            #{item.vectorTaskId,jdbcType=NUMERIC},#{item.vectorTaskCode,jdbcType=VARCHAR},#{item.plasmidName,jdbcType=VARCHAR},
            #{item.transformCode,jdbcType=VARCHAR},#{item.sampleCode,jdbcType=VARCHAR},#{item.generation,jdbcType=VARCHAR},
            #{item.plantNumber,jdbcType=NUMERIC},#{item.plantDate,jdbcType=VARCHAR},#{item.transplantDate,jdbcType=VARCHAR},
            #{item.vernalizationBeginDate,jdbcType=VARCHAR},#{item.vernalizationEndDate,jdbcType=VARCHAR},#{item.pollinationMethod,jdbcType=VARCHAR},
            #{item.plantStatus,jdbcType=VARCHAR},#{item.fatherInfo,jdbcType=VARCHAR},#{item.motherInfo,jdbcType=VARCHAR},
            #{item.pollinationDate,jdbcType=VARCHAR},#{item.harvestDate,jdbcType=VARCHAR},#{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},#{item.otherField},#{item.editType,jdbcType=VARCHAR},
            #{item.species,jdbcType=VARCHAR},#{item.acceptorMaterial,jdbcType=VARCHAR},#{item.checkResult,jdbcType=VARCHAR},
            #{item.taskNum,jdbcType=VARCHAR},#{item.taskStatus,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <delete id="deleteByTaskNum">
        delete
        from cer_plant_tb
        where task_num = #{taskNum,jdbcType=VARCHAR}
    </delete>
    <update id="updateTaskStatusByTaskNum">
        update cer_plant_tb
        set task_status = #{taskStatus,jdbcType=VARCHAR}
        where task_num = #{taskNum,jdbcType=VARCHAR}
    </update>
    <select id="selectAllByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_plant_tb
        where
        project_id = #{projectId,jdbcType=NUMERIC}
    </select>
</mapper>
