<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.CerRequestLogMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.CerRequestLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="requestId" column="request_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_id,create_time,
        user_id,user_name
    </sql>
</mapper>
