<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.CerSampleTestResultFileTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.CerSampleTestResultFileTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
        <result property="resultType" column="result_type" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="uploadNo" column="upload_no" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,file_url,result_type,
        create_user_id,create_user_name,create_time,
        upload_no
    </sql>
    <select id="selectSelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_sample_test_result_file_tb
        <where>
            <if test="fileUrl != null">and file_url=#{fileUrl,jdbcType=VARCHAR}</if>
            <if test="resultType != null">and result_type=#{resultType,jdbcType=VARCHAR}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="uploadNo != null and uploadNo!=''">and upload_no=#{uploadNo,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
</mapper>
