<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.CerVectorTaskTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.CerVectorTaskTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
        <result property="deliveryMethod" column="delivery_method" jdbcType="VARCHAR"/>
        <result property="acceptorMaterial" column="acceptor_material" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="subProjectId" column="sub_project_id" jdbcType="INTEGER"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="subProjectCode" column="sub_project_code" jdbcType="VARCHAR"/>
        <result property="editType" column="edit_type" jdbcType="VARCHAR"/>
        <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
        <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
        <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
        <result property="breedCode" column="breed_code" jdbcType="VARCHAR"/>
        <result property="currentStepCode" column="current_step_code" jdbcType="VARCHAR"/>
        <result column="expect_start_date" jdbcType="VARCHAR" property="expectStartDate"/>
        <result column="expected_positive_seed" jdbcType="VARCHAR" property="expectedPositiveSeed"/>
        <result column="supervision_level_code" jdbcType="VARCHAR" property="supervisionLevelCode"/>
        <result column="expect_period" jdbcType="VARCHAR" property="expectPeriod"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,vector_task_code,delivery_method,acceptor_material,vector_task_target,
        create_time,update_time,breed_code,
        create_user_id,create_user_name,project_id,
        sub_project_id,project_code,sub_project_code,edit_type,task_num,
        task_status,species_code,current_step_code,expect_start_date,expected_positive_seed,supervision_level_code,expect_period
    </sql>
    <select id="selectOneByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <update id="updateTaskStatusByTaskNum">
        update cer_vector_task_tb
        set task_status = #{taskStatus,jdbcType=VARCHAR}
        where task_num = #{taskNum,jdbcType=VARCHAR}
    </update>
    <select id="selectAllByProjectIdOrderById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        project_id = #{projectId,jdbcType=INTEGER}
        order by id desc
    </select>
    <select id="selectAllBySubProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        sub_project_id = #{subProjectId,jdbcType=NUMERIC}
        order by id desc;
    </select>

    <select id="selectOneByVectorTaskCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        vector_task_code = #{vectorTaskCode,jdbcType=VARCHAR}
    </select>
    <select id="listForTransForm" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb where id in(select distinct vector_task_id from cer_transform_tb) and project_id in
        (select id from cer_project_tb where project_status='execute')
        order by id desc
    </select>
    <select id="selectCountNum" resultType="java.lang.Integer">
        select count(*)
        from cer_vector_task_tb
    </select>
    <select id="selectAllForBoard" resultType="com.bio.drqi.domain.CerVectorTaskTb">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where vector_task_type !='2' and vector_task_code not
        in('TM01201-OH01','TM01201-OH02','TS00101-AB01','TS00101-AB02','CM00301-GN01','CM00301-GN02','TM01201-OH03','TS00101-BZ03','TS00101-SQ04','TM01201-OH04')
        <if test="projectId!=null">and project_id = #{projectId,jdbcType=INTEGER}</if>
        <if test="taskStatus!=null and taskStatus!=''">and task_status =#{taskStatus,jdbcType=VARCHAR}</if>
        <if test="speciesCode!=null and speciesCode!=''">and species_code = #{speciesCode,jdbcType=VARCHAR}</if>
        <if test="userId!=null">and project_id in (select id from cer_project_tb where
            owner_user_id=#{userId,jdbcType=INTEGER})
        </if>
        order by sub_project_code asc ,id asc

    </select>
    <select id="selectAllByVectorTaskCodeIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        vector_task_code in
        <foreach collection="vectorTaskCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectAllSpeciesCode" resultType="java.lang.String">
        select distinct species_code
        from cer_vector_task_tb
        where task_status = '2'
          and project_id in(select id from cer_project_tb where project_status ='execute')
    </select>

    <select id="selectAllByTaskStatusAndSpeciesCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb where quality_inspection_result = 'pass'
        and project_id in(select id from cer_project_tb where project_status ='execute')
        <if test="taskStatus!=null and taskStatus!=''">and task_status =#{taskStatus,jdbcType=VARCHAR}</if>
        <if test="speciesCode!=null and speciesCode!=''">and species_code = #{speciesCode,jdbcType=VARCHAR}</if>
        order by id desc
    </select>
    <select id="selectAllBySpeciesCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cer_vector_task_tb
        where
        species_code = #{speciesCode,jdbcType=VARCHAR}
    </select>

</mapper>
