<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.PlantSampleCoodePrefixTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.PlantSampleCoodePrefixTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sampleCodePrefix" column="sample_code_prefix" jdbcType="VARCHAR"/>
            <result property="currentIndex" column="current_index" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sample_code_prefix,current_index,
        create_time
    </sql>
</mapper>
