<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.PlantApplyTbMapper">
    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.PlantApplyTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
            <result property="experimentType" column="experiment_type" jdbcType="VARCHAR"/>
            <result property="plantTarget" column="plant_target" jdbcType="VARCHAR"/>
            <result property="plantDetailUrl" column="plant_detail_url" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="plantApplyNum" column="plant_apply_num" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="vectorTaskCodes" column="vector_task_codes" jdbcType="VARCHAR"/>
            <result property="pdImplementCodes" column="pd_implement_codes" jdbcType="VARCHAR"/>
            <result property="sampleCodePrefix" column="sample_code_prefix" jdbcType="VARCHAR"/>
            <result property="experimentAddressCode" column="experiment_address_code" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,species_code,experiment_type,
        plant_target,plant_detail_url,file_url,
        plant_apply_num,create_time,create_user_id,
        create_user_name,vector_task_codes,pd_implement_codes,sample_code_prefix,experiment_address_code
    </sql>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.PlantApplyTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from plant_apply_tb
        <where>
            <if test="speciesCode != null and speciesCode!=''">and species_code=#{speciesCode,jdbcType=VARCHAR}</if>
            <if test="experimentType != null and experimentType!=''">and experiment_type=#{experimentType,jdbcType=VARCHAR}</if>
            <if test="plantApplyNum != null and plantApplyNum!=''">and plant_apply_num=#{plantApplyNum,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="vectorTaskCodes != null and vectorTaskCodes!=''">and vector_task_codes like  CONCAT('%',#{vectorTaskCodes,jdbcType=VARCHAR},'%')</if>
            <if test="pdImplementCodes != null and pdImplementCodes!=''">and pd_implement_codes like  CONCAT('%',#{pdImplementCodes,jdbcType=VARCHAR},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectMaxSampleCodePrefix" resultType="java.lang.String">
        select max(sample_code_prefix) from plant_apply_tb
    </select>
    <select id="selectOneByPlantApplyNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from plant_apply_tb
        where
        plant_apply_num = #{plantApplyNum,jdbcType=VARCHAR}
    </select>

</mapper>
