<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.SeedStockOutLogMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.SeedStockOutLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="seedNum" column="seed_num" jdbcType="VARCHAR"/>
            <result property="useToCode" column="use_to_code" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="seedNumber" column="seed_number" jdbcType="DECIMAL"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="outTaskNum" column="out_task_num" jdbcType="VARCHAR"/>
            <result property="useToDesc" column="use_to_desc" jdbcType="VARCHAR"/>
            <result property="plantCode" column="plant_code" jdbcType="VARCHAR"/>
            <result property="parentNum" column="parent_num" jdbcType="VARCHAR"/>
            <result property="fatherInfo" column="father_info" jdbcType="VARCHAR"/>
            <result property="matherInfo" column="mather_info" jdbcType="VARCHAR"/>
            <result property="generation" column="generation" jdbcType="VARCHAR"/>
            <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
            <result property="breedCode" column="breed_code" jdbcType="VARCHAR"/>
            <result property="pollinationMethod" column="pollination_method" jdbcType="VARCHAR"/>
            <result property="harvestType" column="harvest_type" jdbcType="VARCHAR"/>
            <result property="harvestTime" column="harvest_time" jdbcType="VARCHAR"/>
            <result property="sourceType" column="source_type" jdbcType="VARCHAR"/>
            <result property="productionLocationCode" column="production_location_code" jdbcType="VARCHAR"/>
            <result property="stockLocationNum" column="stock_location_num" jdbcType="VARCHAR"/>
            <result property="totalNumber" column="total_number" jdbcType="DECIMAL"/>
            <result property="targetCharacter" column="target_character" jdbcType="VARCHAR"/>
            <result property="aliasName" column="alias_name" jdbcType="VARCHAR"/>
            <result property="geneType" column="gene_type" jdbcType="VARCHAR"/>
            <result property="materialType" column="material_type" jdbcType="VARCHAR"/>
            <result property="matherSeedNum" column="mather_seed_num" jdbcType="VARCHAR"/>
            <result property="fatherSeedNum" column="father_seed_num" jdbcType="VARCHAR"/>
            <result property="matherRegionNum" column="mather_region_num" jdbcType="VARCHAR"/>
            <result property="fatherRegionNum" column="father_region_num" jdbcType="VARCHAR"/>
            <result property="genealogy" column="genealogy" jdbcType="VARCHAR"/>
            <result property="geneSeparateFlag" column="gene_separate_flag" jdbcType="VARCHAR"/>
            <result property="transFlag" column="trans_flag" jdbcType="VARCHAR"/>
            <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
            <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="fatherSingleNum" column="father_single_num" jdbcType="VARCHAR"/>
            <result property="matherSingleNum" column="mather_single_num" jdbcType="VARCHAR"/>
            <result property="pdImplementCode" column="pd_implement_code" jdbcType="VARCHAR"/>
            <result property="stockBeforeNumber" column="stock_before_number" jdbcType="DECIMAL"/>
            <result property="stockAfterNumber" column="stock_after_number" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,seed_num,use_to_code,
        unit,seed_number,remarks,
        create_time,apply_user_id,apply_user_name,
        task_num,out_task_num,use_to_desc,
        plant_code,parent_num,father_info,mather_info,generation,
        species_code,breed_code,pollination_method,harvest_type,harvest_time,
        source_type,production_location_code,stock_location_num,total_number,target_character,
        alias_name,gene_type,material_type,mather_seed_num,father_seed_num,
        mather_region_num,father_region_num,genealogy,gene_separate_flag,trans_flag,
        vector_task_code,experiment_num,project_code,father_single_num,mather_single_num,
        pd_implement_code,stock_before_number,stock_after_number
    </sql>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.SeedStockOutLog">
        select
        <include refid="Base_Column_List"/>
        from seed_stock_out_log
        <where>
            <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
            <if test="seedNum != null and seedNum!=''"> and seed_num=#{seedNum,jdbcType=VARCHAR}</if>
            <if test="useToCode != null and useToCode!=''">and use_to_code=#{useToCode,jdbcType=VARCHAR}</if>
            <if test="unit != null and unit!=''">and unit=#{unit,jdbcType=VARCHAR}</if>
            <if test="seedNumber != null and seedNumber!=''">and seed_number=#{seedNumber,jdbcType=DECIMAL}</if>
            <if test="remarks != null">and remarks=#{remarks,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="applyUserId != null and applyUserId!=''">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="applyUserName != null and applyUserName!=''">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="taskNum != null and taskNum!=''">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="outTaskNum != null and outTaskNum!=''">and out_task_num=#{outTaskNum,jdbcType=VARCHAR}</if>
            <if test="useToDesc != null">and use_to_desc=#{useToDesc,jdbcType=VARCHAR}</if>
            <if test="sourceType != null and sourceType!=''">and source_type=#{sourceType,jdbcType=VARCHAR}</if>
            <if test="plantCode != null and plantCode!=''">and plant_code LIKE CONCAT('%',#{plantCode,jdbcType=VARCHAR},'%')</if>
            <if test="parentNum != null and parentNum!=''">and parent_num=#{parentNum,jdbcType=VARCHAR}</if>
            <if test="fatherInfo != null and fatherInfo!=''">and father_info LIKE CONCAT('%',#{fatherInfo,jdbcType=VARCHAR},'%')</if>
            <if test="matherInfo != null and matherInfo!=''">and mather_info LIKE CONCAT('%',#{matherInfo,jdbcType=VARCHAR},'%')</if>
            <if test="generation != null and generation!=''">and generation=#{generation,jdbcType=VARCHAR}</if>
            <if test="speciesCode != null and speciesCode!=''">and species_code=#{speciesCode,jdbcType=VARCHAR}</if>
            <if test="breedCode != null and breedCode!=''">and breed_code=#{breedCode,jdbcType=VARCHAR}</if>
            <if test="pollinationMethod != null and pollinationMethod!=''">and pollination_method=#{pollinationMethod,jdbcType=VARCHAR}</if>
            <if test="harvestType != null and harvestType!=''">and harvest_type=#{harvestType,jdbcType=VARCHAR}</if>
            <if test="harvestTime != null and harvestTime!=''">and harvest_time=#{harvestTime,jdbcType=VARCHAR}</if>
            <if test="productionLocationCode != null and productionLocationCode!=''">and production_location_code=#{productionLocationCode,jdbcType=VARCHAR}</if>
            <if test="stockLocationNum != null and stockLocationNum!=''">and stock_location_num LIKE CONCAT('%',#{stockLocationNum,jdbcType=VARCHAR},'%')</if>
            <if test="targetCharacter != null and targetCharacter!=''">and target_character LIKE CONCAT('%',#{targetCharacter,jdbcType=VARCHAR},'%')</if>
            <if test="aliasName != null and aliasName!=''">and alias_name LIKE CONCAT('%',#{aliasName,jdbcType=VARCHAR},'%')</if>
            <if test="geneType != null and geneType!=''">and gene_type LIKE CONCAT('%',#{geneType,jdbcType=VARCHAR},'%')</if>
            <if test="materialType != null and materialType!=''">and material_type=#{materialType,jdbcType=VARCHAR}</if>
            <if test="matherSeedNum != null and matherSeedNum!=''">and mather_seed_num=#{matherSeedNum,jdbcType=VARCHAR}</if>
            <if test="fatherSeedNum != null and fatherSeedNum!=''">and father_seed_num=#{fatherSeedNum,jdbcType=VARCHAR}</if>
            <if test="matherRegionNum != null and matherRegionNum!=''">and mather_region_num=#{matherRegionNum,jdbcType=VARCHAR}</if>
            <if test="fatherRegionNum != null and fatherRegionNum!=''">and father_region_num=#{fatherRegionNum,jdbcType=VARCHAR}</if>
            <if test="genealogy != null and genealogy!=''">and genealogy LIKE CONCAT('%',#{genealogy,jdbcType=VARCHAR},'%')</if>
            <if test="geneSeparateFlag != null and geneSeparateFlag!=''">and gene_separate_flag=#{geneSeparateFlag,jdbcType=VARCHAR}</if>
            <if test="transFlag != null and transFlag!=''">and trans_flag=#{transFlag,jdbcType=VARCHAR}</if>
            <if test="vectorTaskCode != null and vectorTaskCode!=''">and vector_task_code=#{vectorTaskCode,jdbcType=VARCHAR}</if>
            <if test="experimentNum != null and experimentNum!=''">and experiment_num=#{experimentNum,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!=''">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="fatherSingleNum != null and fatherSingleNum!=''">and father_single_num=#{fatherSingleNum,jdbcType=VARCHAR}</if>
            <if test="matherSingleNum != null and matherSingleNum!=''">and mather_single_num=#{matherSingleNum,jdbcType=VARCHAR}</if>
            <if test="pdImplementCode != null and pdImplementCode!=''">and pd_implement_code=#{pdImplementCode,jdbcType=VARCHAR}</if>
            <if test="beginDate != null and beginDate != ''">and date_format(create_time,'%Y%m%d') &gt;= #{beginDate,jdbcType=VARCHAR}</if>
            <if test="endDate != null and endDate != ''">and date_format(create_time,'%Y%m%d') &lt;= #{endDate,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAllByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from seed_stock_out_log
        where
        id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>
    <select id="selectAllByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from seed_stock_out_log
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllBySeedNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from seed_stock_out_log
        where
        seed_num = #{seedNum,jdbcType=VARCHAR}
    </select>
</mapper>
