<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.SystemRoleTbMapper">
    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.SystemRoleTb">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="role_status" jdbcType="VARCHAR" property="roleStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

    </resultMap>
    <sql id="Base_Column_List">
        id
        , role_name, role_status, create_time, update_time,remark
    </sql>
    <select id="queryRoleListByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_role_tb
        where id in(select role_id from system_user_role_ref where user_id =#{userId,jdbcType=INTEGER})
    </select>
</mapper>