<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.SystemUserRoleRefMapper">
  <resultMap id="BaseResultMap" type="com.bio.drqi.domain.SystemUserRoleRef">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, user_id
  </sql>

  <insert id="batchInsert" parameterType="com.bio.drqi.domain.SystemUserRoleRef">
    insert into system_user_role_ref
    (
    role_id,
    user_id)values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.roleId,jdbcType=INTEGER},
      #{item.userId,jdbcType=INTEGER}
      )
    </foreach>
  </insert>


  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from system_user_role_ref
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from system_user_role_ref
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <select id="selectAllByRoleIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_user_role_ref
        where
        role_id in
        <foreach collection="roleIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>

</mapper>