<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.SystemDeptTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.SystemDeptTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="orderNun" column="order_nun" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="deptLevel" column="dept_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_name,
        parent_id,order_nun,create_time,
        update_time,status,dept_level
    </sql>
    <select id="selectAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_dept_tb
        where
        parent_id = #{parentId,jdbcType=NUMERIC}
    </select>

</mapper>
