<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.TcExperimentTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.TcExperimentTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectCodes" column="project_codes" jdbcType="VARCHAR"/>
            <result property="vectorTaskCodes" column="vector_task_codes" jdbcType="VARCHAR"/>
            <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
            <result property="speciesName" column="species_name" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="experimentGoal" column="experiment_goal" jdbcType="VARCHAR"/>
            <result property="experimentAddress" column="experiment_address" jdbcType="VARCHAR"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="pollinationNum" column="pollination_num" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,project_codes,vector_task_codes,
        species_code,species_name,file_url,
        experiment_goal,experiment_address,apply_user_name,
        apply_user_id,create_time,experiment_num,
        task_num,pollination_num
    </sql>
    <select id="selectSelective" resultType="com.bio.drqi.domain.TcExperimentTb">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_tb
        <where>
            <if test="projectCodes != null and projectCodes!=''">and project_codes LIKE  CONCAT('%',#{projectCodes,jdbcType=VARCHAR},'%')</if>
            <if test="vectorTaskCodes != null and vectorTaskCodes!=''">and vector_task_codes  LIKE  CONCAT('%',#{vectorTaskCodes,jdbcType=VARCHAR},'%')</if>
            <if test="speciesCode != null and speciesCode!=''">and species_code=#{speciesCode,jdbcType=VARCHAR}</if>
            <if test="speciesName != null and speciesName!='' ">and species_name=#{speciesName,jdbcType=VARCHAR}</if>
            <if test="fileUrl != null">file_url=#{fileUrl,jdbcType=VARCHAR}</if>
            <if test="experimentGoal != null">and experiment_goal=#{experimentGoal,jdbcType=VARCHAR}</if>
            <if test="experimentAddress != null">and experiment_address=#{experimentAddress,jdbcType=VARCHAR}</if>
            <if test="applyUserName != null">and apply_user_name=#{applyUserName,jdbcType=VARCHAR}</if>
            <if test="applyUserId != null">and apply_user_id=#{applyUserId,jdbcType=NUMERIC}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="experimentNum != null and experimentNum!=''">and experiment_num=#{experimentNum,jdbcType=VARCHAR}</if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="pollinationNum != null and pollinationNum!=''">and pollination_num=#{pollinationNum,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
</mapper>
