<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.TcExperimentDesignTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.TcExperimentDesignTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
        <result property="regionNum" column="region_num" jdbcType="VARCHAR"/>
        <result property="seedNum" column="seed_num" jdbcType="VARCHAR"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
        <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
        <result property="breedCode" column="breed_code" jdbcType="VARCHAR"/>
        <result property="targetCharacter" column="target_character" jdbcType="VARCHAR"/>
        <result property="generationCode" column="generation_code" jdbcType="VARCHAR"/>
        <result property="tcGene" column="tc_gene" jdbcType="VARCHAR"/>
        <result property="regionArea" column="region_area" jdbcType="VARCHAR"/>
        <result property="areaUnit" column="area_unit" jdbcType="VARCHAR"/>
        <result property="plantSpace" column="plant_space" jdbcType="VARCHAR"/>
        <result property="rowsNumber" column="rows_number" jdbcType="VARCHAR"/>
        <result property="rowsLength" column="rows_length" jdbcType="VARCHAR"/>
        <result property="rowsSpace" column="rows_space" jdbcType="VARCHAR"/>
        <result property="seedingType" column="seeding_type" jdbcType="VARCHAR"/>
        <result property="seedingNumber" column="seeding_number" jdbcType="INTEGER"/>
        <result property="seedingUnit" column="seeding_unit" jdbcType="VARCHAR"/>
        <result property="seedingTime" column="seeding_time" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="emergenceRate" column="emergence_rate" jdbcType="VARCHAR"/>
        <result property="transplantTime" column="transplant_time" jdbcType="VARCHAR"/>
        <result property="pdImplementCode" column="pd_implement_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,experiment_num,region_num,pd_implement_code,
        seed_num,project_code,vector_task_code,
        species_code,breed_code,target_character,
        generation_code,tc_gene,region_area,
        area_unit,plant_space,rows_number,
        rows_length,rows_space,seeding_type,
        seeding_number,seeding_unit,seeding_time,
        remark,task_num,create_user_id,
        create_user_name,create_time,emergence_rate,
        transplant_time
    </sql>
    <select id="selectAllByExperimentNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        experiment_num = #{experimentNum,jdbcType=VARCHAR}
    </select>
    <insert id="insertBatch">
        insert into tc_experiment_design_tb(id,experiment_num,region_num,
        seed_num,project_code,vector_task_code,
        species_code,breed_code,target_character,
        generation_code,tc_gene,region_area,
        area_unit,plant_space,rows_number,
        rows_length,rows_space,seeding_type,
        seeding_number,seeding_unit,seeding_time,
        remark,task_num,create_user_id,
        create_user_name,create_time,emergence_rate,
        transplant_time,pd_implement_code)
        values
        <foreach collection="tcExperimentDesignTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.experimentNum,jdbcType=VARCHAR},#{item.regionNum,jdbcType=VARCHAR},
            #{item.seedNum,jdbcType=VARCHAR},#{item.projectCode,jdbcType=VARCHAR},#{item.vectorTaskCode,jdbcType=VARCHAR},
            #{item.speciesCode,jdbcType=VARCHAR},#{item.breedCode,jdbcType=VARCHAR},#{item.targetCharacter,jdbcType=VARCHAR},
            #{item.generationCode,jdbcType=VARCHAR},#{item.tcGene,jdbcType=VARCHAR},#{item.regionArea,jdbcType=VARCHAR},
            #{item.areaUnit,jdbcType=VARCHAR},#{item.plantSpace,jdbcType=VARCHAR},#{item.rowsNumber,jdbcType=VARCHAR},
            #{item.rowsLength,jdbcType=VARCHAR},#{item.rowsSpace,jdbcType=VARCHAR},#{item.seedingType,jdbcType=VARCHAR},
            #{item.seedingNumber,jdbcType=NUMERIC},#{item.seedingUnit,jdbcType=VARCHAR},#{item.seedingTime,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},#{item.taskNum,jdbcType=VARCHAR},#{item.createUserId,jdbcType=NUMERIC},
            #{item.createUserName,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.emergenceRate,jdbcType=VARCHAR},
            #{item.transplantTime,jdbcType=VARCHAR},#{item.pdImplementCode,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="selectAllBySeedNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        seed_num = #{seedNum,jdbcType=VARCHAR}
    </select>
    <update id="updatePdImplementCodeAndVectorTaskCodeById">
        update tc_experiment_design_tb
        set pd_implement_code = #{pdImplementCode,jdbcType=VARCHAR},
        vector_task_code = #{vectorTaskCode,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectOneByRegionNumAndSeedNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        region_num = #{regionNum,jdbcType=VARCHAR}
        AND seed_num = #{seedNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByRegionNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        region_num = #{regionNum,jdbcType=VARCHAR}
    </select>
    <select id="selectAllForBroadOne" resultType="com.bio.drqi.domain.TcExperimentDesignTb">
        select DISTINCT vector_task_code, pd_implement_code, experiment_num
        from tc_experiment_design_tb
        where vector_task_code is not null
        or pd_implement_code is not null
    </select>
    <select id="selectAllByVectorTaskCodeAndPdImplementCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where 1=1
        <choose>
            <when test="vectorTaskCode!=null and vectorTaskCode !=''">AND vector_task_code =
                #{vectorTaskCode,jdbcType=VARCHAR}
            </when>
            <otherwise>AND vector_task_code is null</otherwise>
        </choose>
        <choose>
            <when test="pdImplementCode!=null and pdImplementCode !=''">AND pd_implement_code =
                #{pdImplementCode,jdbcType=VARCHAR}
            </when>
            <otherwise>AND pd_implement_code is null</otherwise>
        </choose>
    </select>
    <select id="selectAllByExperimentNumIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        experiment_num in
        <foreach collection="experimentNumList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="selectAllByVectorTaskCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        where
        vector_task_code = #{vectorTaskCode,jdbcType=VARCHAR}
    </select>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.TcExperimentDesignTb">
        select
        <include refid="Base_Column_List"/>
        from tc_experiment_design_tb
        <where>
            <if test="experimentNum != null and experimentNum!=''"> and experiment_num=#{experimentNum,jdbcType=VARCHAR}</if>
            <if test="regionNum != null and regionNum!=''">and region_num=#{regionNum,jdbcType=VARCHAR}</if>
            <if test="seedNum != null and seedNum!=''">and seed_num=#{seedNum,jdbcType=VARCHAR}</if>
            <if test="projectCode != null and projectCode!=''">and project_code=#{projectCode,jdbcType=VARCHAR}</if>
            <if test="vectorTaskCode != null and vectorTaskCode!=''">and vector_task_code=#{vectorTaskCode,jdbcType=VARCHAR}</if>
            <if test="speciesCode != null and speciesCode!=''">and species_code=#{speciesCode,jdbcType=VARCHAR}</if>
            <if test="breedCode != null and breedCode!=''">and breed_code=#{breedCode,jdbcType=VARCHAR}</if>
            <if test="targetCharacter != null">and target_character=#{targetCharacter,jdbcType=VARCHAR}</if>
            <if test="generationCode != null">and generation_code=#{generationCode,jdbcType=VARCHAR}</if>
            <if test="tcGene != null">and tc_gene=#{tcGene,jdbcType=VARCHAR}</if>
            <if test="regionArea != null">and region_area=#{regionArea,jdbcType=VARCHAR}</if>
            <if test="areaUnit != null">and area_unit=#{areaUnit,jdbcType=VARCHAR}</if>
            <if test="plantSpace != null">and plant_space=#{plantSpace,jdbcType=VARCHAR}</if>
            <if test="rowsNumber != null">and rows_number=#{rowsNumber,jdbcType=VARCHAR}</if>
            <if test="rowsLength != null">and rows_length=#{rowsLength,jdbcType=VARCHAR}</if>
            <if test="rowsSpace != null">and rows_space=#{rowsSpace,jdbcType=VARCHAR}</if>
            <if test="seedingType != null">and seeding_type=#{seedingType,jdbcType=VARCHAR}</if>
            <if test="seedingNumber != null">and seeding_number=#{seedingNumber,jdbcType=NUMERIC}</if>
            <if test="seedingUnit != null">and seeding_unit=#{seedingUnit,jdbcType=VARCHAR}</if>
            <if test="seedingTime != null">and seeding_time=#{seedingTime,jdbcType=VARCHAR}</if>
            <if test="remark != null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="taskNum != null">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="emergenceRate != null">and emergence_rate=#{emergenceRate,jdbcType=VARCHAR}</if>
            <if test="transplantTime != null">and transplant_time=#{transplantTime,jdbcType=VARCHAR}</if>
            <if test="pdImplementCode != null and pdImplementCode!=''">and pd_implement_code=#{pdImplementCode,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>


</mapper>
