<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.TcExperimentTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.TcExperimentTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="vectorTaskCode" column="vector_task_code" jdbcType="VARCHAR"/>
            <result property="speciesCode" column="species_code" jdbcType="VARCHAR"/>
            <result property="speciesName" column="species_name" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="experimentGoal" column="experiment_goal" jdbcType="VARCHAR"/>
            <result property="experimentAddress" column="experiment_address" jdbcType="VARCHAR"/>
            <result property="applyUserName" column="apply_user_name" jdbcType="VARCHAR"/>
            <result property="applyUserId" column="apply_user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_code,vector_task_code,
        species_code,species_name,file_url,
        experiment_goal,experiment_address,apply_user_name,
        apply_user_id,create_time,experiment_num,
        task_num
    </sql>
</mapper>
