<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.TcPollinationSingleNumTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.TcPollinationSingleNumTb">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
        <result property="pollinationApplyNum" column="pollination_apply_num" jdbcType="VARCHAR"/>
        <result property="seedNum" column="seed_num" jdbcType="VARCHAR"/>
        <result property="regionNum" column="region_num" jdbcType="VARCHAR"/>
        <result property="tcSingleNumber" column="tc_single_number" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="sampleCode" column="sample_code" jdbcType="VARCHAR"/>
        <result property="sampleApplyNum" column="sample_apply_num" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,experiment_num,pollination_apply_num,
        seed_num,region_num,
        create_time,create_user_name,tc_single_number,sample_code,sample_apply_num
    </sql>
    <insert id="insertBatch">
        insert into tc_pollination_single_num_tb(id,experiment_num,pollination_apply_num,
        seed_num,region_num,tc_single_number,
        create_time,create_user_name,sample_code,sample_apply_num)
        values
        <foreach collection="tcPollinationSingleNumTbCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.experimentNum,jdbcType=VARCHAR},#{item.pollinationApplyNum,jdbcType=VARCHAR},
            #{item.seedNum,jdbcType=VARCHAR},#{item.regionNum,jdbcType=VARCHAR},#{item.tcSingleNumber,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},#{item.createUserName,jdbcType=VARCHAR},#{item.sampleCode,jdbcType=VARCHAR},#{item.sampleApplyNum,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="selectOneBySingleNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_pollination_single_num_tb
        where
        single_number = #{singleNumber,jdbcType=VARCHAR}
    </select>
    <update id="updatePollinationApplyNumByExperimentNumAndPollinationApplyNumIsNull">
        update tc_pollination_single_num_tb
        set pollination_apply_num = #{pollinationApplyNum,jdbcType=VARCHAR}
        where experiment_num = #{experimentNum,jdbcType=VARCHAR}
        AND pollination_apply_num is null
    </update>
    <update id="updatePollinationApplyNumIsNullByPollinationApplyNum">
        update tc_pollination_single_num_tb
        set pollination_apply_num =null
        where pollination_apply_num = #{pollinationApplyNum,jdbcType=VARCHAR}
    </update>
    <select id="selectAllByExperimentNumAndRegionNumOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_pollination_single_num_tb
        where
        experiment_num = #{experimentNum,jdbcType=VARCHAR}
        AND region_num = #{regionNum,jdbcType=VARCHAR}
        order by id desc
    </select>
    <select id="selectAllByExperimentNumOrderByIdDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_pollination_single_num_tb
        where
        experiment_num = #{experimentNum,jdbcType=VARCHAR}
        order by id desc
    </select>
    <select id="selectOneByExperimentNumAndTcSingleNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_pollination_single_num_tb
        where
        experiment_num = #{experimentNum,jdbcType=VARCHAR}
        AND tc_single_number = #{tcSingleNumber,jdbcType=VARCHAR}
    </select>
    <delete id="deleteBySampleApplyNum">
        delete
        from tc_pollination_single_num_tb
        where sample_apply_num = #{sampleApplyNum,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExperimentNumAndPollinationApplyNumIsNullAndSampleCodeIsNotNull">
        delete from tc_pollination_single_num_tb
        where
        experiment_num = #{experimentNum,jdbcType=VARCHAR}
        AND pollination_apply_num is null
        AND sample_code is not null
    </delete>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.bio.drqi.domain.TcPollinationSingleNumTb">
        select
        <include refid="Base_Column_List"/>
        from tc_pollination_single_num_tb
        <where>
            <if test="experimentNum != null and experimentNum!=''">and experiment_num=#{experimentNum,jdbcType=VARCHAR}</if>
            <if test="pollinationApplyNum != null and pollinationApplyNum!=''">and pollination_apply_num=#{pollinationApplyNum,jdbcType=VARCHAR}
            </if>
            <if test="seedNum != null and seedNum!=''">and seed_num=#{seedNum,jdbcType=VARCHAR}</if>
            <if test="regionNum != null and regionNum!=''">and region_num=#{regionNum,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="tcSingleNumber != null and tcSingleNumber!=''">and tc_single_number=#{tcSingleNumber,jdbcType=VARCHAR}</if>
            <if test="sampleCode != null and sampleCode!=''">and sample_code=#{sampleCode,jdbcType=VARCHAR}</if>
            <if test="sampleApplyNum != null and sampleApplyNum!=''">and sample_apply_num=#{sampleApplyNum,jdbcType=VARCHAR}</if>
        </where>
        order by id desc
    </select>
</mapper>
