<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.drqi.mapper.TcSampleTestApplyTbMapper">

    <resultMap id="BaseResultMap" type="com.bio.drqi.domain.TcSampleTestApplyTb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sampleApplyNum" column="sample_apply_num" jdbcType="VARCHAR"/>
            <result property="experimentNum" column="experiment_num" jdbcType="VARCHAR"/>
            <result property="taskNum" column="task_num" jdbcType="VARCHAR"/>
            <result property="sampleOrganize" column="sample_organize" jdbcType="VARCHAR"/>
            <result property="applyType" column="apply_type" jdbcType="VARCHAR"/>
            <result property="testType" column="test_type" jdbcType="VARCHAR"/>
            <result property="expectedSampleTime" column="expected_sample_time" jdbcType="VARCHAR"/>
            <result property="expectedResultTime" column="expected_result_time" jdbcType="VARCHAR"/>
            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sample_apply_num,experiment_num,
        task_num,sample_organize,apply_type,test_type,
        expected_sample_time,expected_result_time,create_user_id,
        create_user_name,create_time
    </sql>
    <select id="selectOneByTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_sample_test_apply_tb
        where
        task_num = #{taskNum,jdbcType=VARCHAR}
    </select>
    <select id="selectSelective" parameterType="com.bio.drqi.domain.TcSampleTestApplyTb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tc_sample_test_apply_tb
        <where>
            <if test="sampleApplyNum != null and sampleApplyNum!=''">and sample_apply_num=#{sampleApplyNum,jdbcType=VARCHAR}</if>
            <if test="experimentNum != null and experimentNum!=''">and experiment_num=#{experimentNum,jdbcType=VARCHAR}</if>
            <if test="taskNum != null and taskNum!=''">and task_num=#{taskNum,jdbcType=VARCHAR}</if>
            <if test="sampleOrganize != null and sampleOrganize!=''">and sample_organize=#{sampleOrganize,jdbcType=VARCHAR}</if>
            <if test="applyType != null and applyType!=''">and apply_type=#{applyType,jdbcType=VARCHAR}</if>
            <if test="testType != null and testType!=''">and test_type=#{testType,jdbcType=VARCHAR}</if>
            <if test="expectedSampleTime != null and expectedSampleTime!=''">and expected_sample_time=#{expectedSampleTime,jdbcType=VARCHAR}</if>
            <if test="expectedResultTime != null and expectedResultTime!=''">and expected_result_time=#{expectedResultTime,jdbcType=VARCHAR}</if>
            <if test="createUserId != null">and create_user_id=#{createUserId,jdbcType=NUMERIC}</if>
            <if test="createUserName != null">and create_user_name=#{createUserName,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
        </where>
        order by id desc
    </select>
</mapper>
